[2017-02-01 20:04] agisilaos opened #4 "Can I use this library with Swift?"
Hello guys,

Awesome Library, thanks for sharing it with us! One quick question: Is it possible to use this library with swift? And if I can, how so?

[2017-02-01 21:17] buba447 commented on #4
@agisilaos If you add it to your bridging header it should work in Swift no problem :)
This is also how most of UIKit is implemented in swift.

[2017-02-01 21:31] galileomd commented on #4
any swift examples?

[2017-02-01 21:31] lfarah opened #5 "Missing description under title"
![screen shot 2017-02-01 at 7 31 28 pm](https://cloud.githubusercontent.com/assets/6511079/22527108/0e650358-e8b5-11e6-9f29-491ea404d222.png)

[2017-02-01 21:35] buba447 commented on #5
Good looking out!

[2017-02-01 21:35] #5 closed

[2017-02-01 21:36] Antondomashnev opened #6 "Add topics to improve library discovery"
Hi, thanks for the awesome project 👍
Recently the GitHub released [topics](https://github.com/blog/2309-introducing-topics) I think it makes sense to add them to let more people find the framework.

[2017-02-01 21:44] buba447 commented on #6
Thanks for the suggestion!

[2017-02-01 21:44] #6 closed

[2017-02-01 21:58] buba447 commented on #4
@galileomd @agisilaos
Add `#import <Lottie/Lottie.h>` to your swift bridging header
Then you can `import Lottie` to your swift files and use lottie as follows:

[code]

[2017-02-01 21:59] buba447 commented on #4
I will update the readme to include these instructions!

[2017-02-01 21:59] #4 closed

[2017-02-01 22:02] agisilaos commented on #4
Nice, thanks a lot @buba447! I will definitely gonna use it!

[2017-02-02 17:20] aaroncrespo opened #13 "a11y"
Do text Animations expose an accessibility id? Is there a mechanism for enabling or enhancing Accessibility for these custom views/layers?

[2017-02-02 17:56] erichoracek opened #14 "Support for image layers"
Thanks for making this awesome tool!

We'd love to use it, but we'd need support for image-backed layers to use our existing after effects animations. From taking a quick glance through the code, it would appear that our image layers are being ignored as they map to the `LALayerTypeUnknown` type. Below is the entirety of one of our simple exports with an image. Here's a [link](https://github.com/b

[2017-02-02 17:56] buba447 commented on #13
We don't yet support text in animations but we have some ideas on how to make it work!
And a11y support is extremely important to us for text, I hadn't yet thought about making the animations themselves accessible outside of the standard iOS accessibility! Good call :)

Gonna leave this issue open until we come up with a strategy.

[2017-02-02 17:58] aaroncrespo commented on #13
Yeah maybe poor use of term "text animation" but I thought about this when I saw https://github.com/airbnb/lottie-ios/blob/master/_Gifs/Examples4.gif

[2017-02-02 19:46] buba447 commented on #14
We definitely have images on our roadmap too. The actual implementation seems pretty straight forward. The only thing we hadn't thought through yet was how to handle the more logistical problem of loading the images.
They would have to be bundled into the app with the json, for file path reasons. Animations loaded from URL wouldn't support images unless we included a way to download those images f

[2017-02-02 19:48] buba447 commented on #13
Ahhh! In that demo each letter is an individual lottie animation wrapped in UICollectionView class that takes text input, strips and sanitizes and loads each letter of animation individually.
A.json B.json and so on.
So for a11y support there the containing class that loads the LAAnimations would have to also point to animations made for other languages and it's textfield would have to have a11y s

[2017-02-02 20:14] sarperdag opened #15 "Doesn't work with text animations?"
Tried with the attached json file (in zip) that has a super simple text animation, but no no luck... What might be reason?

[text.zip](https://github.com/airbnb/lottie-ios/files/748845/text.zip)

[2017-02-02 20:37] ianegordon opened #16 "Classes should use a three letter prefix."
"Two-letter prefixes... are reserved by Apple for use in framework classes."
https://developer.apple.com/library/content/documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/Conventions/Conventions.html

Consider changing LA -> LOT to avoid namespace collisions.

[2017-02-02 20:59] buba447 commented on #15
Hey! We haven't yet implemented support for text layers. We're currently working out a strategy for supporting text layers while also supporting localization. Stay tuned!

Until then you can convert the text layer to a shape layer following the steps in this tutorial, its not perfect but it will get your text on screen for the time being!

https://www.premiumbeat.com/blog/quick-tip-converting-text

[2017-02-02 21:51] aventurella commented on #14
Just a thought along these lines as we have been exploring this all day. First, this is fantastic, thank you for all the work!!! Really great job.

It looks like in a couple of weeks bodymovin adding support for animation only exports

https://github.com/bodymovin/bodymovin/issues/239

It would potentially solve the image loading issue or point a way possibly if you could just attach the animation

[2017-02-02 22:19] erichoracek commented on #14
@aventurella Thanks for the suggestion. A little bit of a clarification on our side however: the images themselves are part of the animation, so discarding them entirely wouldn't solve this specific issue.

Sounds like a good solution for animations with static background images, for example.

[2017-02-02 22:30] buba447 commented on #14
@aventurella Hey! So Lottie currently supports masking UI elements with layers from after effects.
The method `- (void)addSubview:(UIView *)view toLayerNamed:(NSString *)layer;` will take the UIView and perform a clipping mask with the specified after effects layer. Currently it will only mask the layer but we plan to flush this feature out a bit more very soon to include parenting.

[2017-02-02 22:32] aventurella commented on #14
ah! Ya that would do the trick. You know I saw that in the docks and it didn't occur to me immediately. I was thinking of something else at the time. Hahahah thanks for bringing it back up!

[2017-02-02 22:41] buba447 opened #17 "3d Layers Crash"
If a layer is set as a 3d layer in after effects Lottie crashes since the rotation values are split into 3 separate values.

[2017-02-02 22:55] buba447 commented on #17
Resolved with https://github.com/airbnb/lottie-ios/pull/18

[2017-02-02 22:55] #17 closed

[2017-02-03 08:57] milanivarni commented on #4
## Analyzing dependencies
[!] Unable to find a specification for `lottie-ios`

While integrating with **Swift 3.0** Project **Xcode 8**

[2017-02-03 09:19] hansemannn commented on #16
Btw, `LA` is already used by Apple for the [`LocalAuthentification`](https://developer.apple.com/reference/localauthentication) (LA) framework. Could be a search-and-replace thing, but also a breaking change that requires a version bump. Maybe schedule as part of a 2.0.0 release?

[2017-02-03 09:39] milanivarni opened #21 "JSON File not working"
@buba447
Awesome Library, thanks for sharing it with us!

From After Effect, I generated JSON File with the help of [https://github.com/bodymovin/bodymovin#bodymovin](url), It gave me two files one is **data.json** file and second is **img.png** file.

Then due to issue of [Cocoapods](https://github.com/airbnb/lottie-ios/issues/4#issuecomment-277196717), I included these two files in Example Provi

[2017-02-03 15:20] yozef opened #22 "Animation Trim Multiple Shapes Individually (implemented in bodymovin) but not in Lottie yet"
I've been trying out this aep.
In After effects:
![rocket_aep](https://cloud.githubusercontent.com/assets/287256/22597098/342037e6-e9fc-11e6-8eef-2798e33f5d19.gif)

The result is this json file: https://www.dropbox.com/s/8r807g1hcntrzt7/rocket.json?dl=0

The result:
![rocket_result](https://cloud.githubusercontent.com/assets/287256/22597360/46678b1a-e9fd-11e6-925d-c2a4d5e37198.gif)

Bodymovin Sett

[2017-02-03 15:55] buba447 commented on #21
Hello!
Currently we don't support import image assets. This is something we're working on though.
This image could be made with shape layers though, which is what Lottie mainly animates.

[2017-02-03 15:55] #21 closed

[2017-02-03 15:56] buba447 commented on #22
Are you using trim offsets?

[2017-02-03 15:59] yozef commented on #22
I'm using trim paths:
<img width="755" alt="screen shot 2017-02-03 at 10 58 40 am" src="https://cloud.githubusercontent.com/assets/287256/22597972/d5d325e6-e9ff-11e6-8040-7b92a36000a3.png">

[2017-02-03 17:27] yozef commented on #22
I tried again with another design, I get the same:
![checkmark_aep](https://cloud.githubusercontent.com/assets/287256/22601231/02e4a666-ea0c-11e6-8aec-50b1a801947c.gif)

Result:
![result](https://cloud.githubusercontent.com/assets/287256/22601243/0aac94d0-ea0c-11e6-836d-ae77fc7c1798.gif)

(If you need the aep file, I can send it to you)

[2017-02-03 18:36] Audiobrad commented on #22
I'm having some similar issues that seem to have something to do with position or anchor point transforms not coming through properly. Although, I think this issue might be due to bodymovin because it renders the exact same way in the bodymovin player

[2017-02-03 18:39] yozef commented on #22
For me, at least, both the exported html, and the view within iOS are giving the same result. @buba447 could it be on Bodymovin's end?

On another note, I do see Trim Paths Start, Trim Paths End, Trim Paths Offset as supported.

[2017-02-03 18:54] Audiobrad opened #23 "Separate Dimensions - Position Transform"
I was using Facebook Keyframes and have recently been testing lottie. I've encountered a few issues with exports I specifically adapted to be used in Keyframes that render correctly in bodymovin and keyframes, but not in lottie. After some trouble shooting I was able to fix the problem by un-separating the dimensions for the position transforms on layers that had previously been separated.

Separa

[2017-02-03 19:51] arronhunt opened #25 "Methods don't follow swift 3 guidelines"
`let animationView = LAAnimationView.animationNamed(animationNamed: "foobar")`

should really be

`let animationView = LAAnimationView.animation(named: "foobar")`

https://swift.org/documentation/api-design-guidelines/

[2017-02-03 22:03] yozef commented on #22
I'm pretty sure this is a Bodymovin issue. Closing this issue here, and added it in Bodymovin.

[2017-02-04 02:51] Paladinfeng opened #26 "Crash when i continuous typing on TypingDemoViewController"
*_Platform: iOS 10.3
*_Console:  *** Terminating app due to uncaught exception 'NSRangeException', reason: '-[__NSCFString replaceCharactersInRange:withString:]: Range or index out of bounds'
*** First throw call stack:
(0x183663fac 0x1820c853c 0x183663ef4 0x183601e8c 0x10007e1e8 0x10007cbf8 0x189a7a63c 0x189a4353c 0x189cb0808 0x189cb0430 0x18a31231c 0x189cb036c 0x189a431c4 0x189a42aec 0x189a410dc

[2017-02-04 02:56] yozef commented on #22
This turns out to be a `bodymovin` issue which dosen't handle yet Triming Multiple Shapes **Individually**

Out of curiosity @buba447: Once bodymovin handles this use case, would lottie-ios & lottie-android handle them as well out of the box or support would also be needed for these libraries?

[2017-02-04 10:45] alexiscn opened #30 "add support for video Export usage"
I want to export this amazing animation into my video file with AVFoundation.

[code]

but the animation does not shown in the composed video. I thought the animation begin time is not correct. It should be `AVCoreAnimationBeginTimeAtZero`

can you add this feature in this amazing animation library ?

[2017-02-04 11:32] terenzeyuen opened #31 "Swift"
Can't seem to be able to get LAAnimationView to work. I have installed using carthage, added briging header. It finds LottieVersionNumber but not  LAAnimationView? Anything I have missed?

<img width="592" alt="screen shot 2017-02-04 at 11 32 07" src="https://cloud.githubusercontent.com/assets/2553680/22618162/a7950fa4-eacd-11e6-94db-b791d40e49f9.png">

<img width="965" alt="screen shot 2017-02-04

[2017-02-04 14:41] MKGitHub opened #32 "Can't get simple animation to work"
Made a simple animation with a square and it's not working at all, see attached files.
Using AE CC 2017
I added the json file to the iOS project and ran it on my device.
Works & looks just fine in the html doc.

[Archive.zip](https://github.com/airbnb/lottie-ios/files/752339/Archive.zip)

![2017-02-04 at 15 32 52](https://cloud.githubusercontent.com/assets/535550/22619219/517de3e8-eaf0-11e6-8ab0-b

[2017-02-04 16:38] buba447 commented on #32
We don't yet support x and y as separate dimensions. We hope to add it in the next dot release!

[2017-02-04 16:40] buba447 commented on #23
We're hoping to add this in the next dot release

[2017-02-04 16:42] buba447 commented on #22
Ohhh interesting! I will have to look into this

[2017-02-04 16:44] buba447 commented on #26
Hmmm i wonder if this will be fixed by the current pull request.
Thanks for the heads up! I'll double check it!

[2017-02-04 17:28] Audiobrad commented on #22
I was experiencing this yesterday as well. Good to know where it's coming from.

I was working with a simple animation with two paths being trimmed by animating the "End" property in separate groups on the same shape layer. My quick fix was to animate the "End" property in one group and animate there "Start" property in the other. The other option would be to separate the groups into their own lay

[2017-02-04 18:05] chefnobody commented on #25
If @buba447's choice of Obj-C was intentional, I would think that the API is meant to look like an API for the language in which it was written rather than an API for a language it might be bridged to. I could be wrong though.

[2017-02-04 19:16] Jauzee commented on #31
@terenzeyuen check out this #28

[2017-02-04 22:56] MKGitHub commented on #32
Ohh okey, does that apply for all objects that support separate dimensions in AE?

[2017-02-05 17:39] #26 closed

[2017-02-05 17:43] buba447 commented on #16
Ohh good to know!

[2017-02-05 19:16] therealsalih commented on #15
You can also right click a text layer and select "Create Shapes From Text"

<img width="365" alt="screen shot 2017-02-05 at 11 14 37 am" src="https://cloud.githubusercontent.com/assets/5893643/22629079/5559c7b2-eb94-11e6-9a99-9bf768ab3e35.png">

There still might be some weirdness because Lottie doesnt yet support subtracting paths so letters like the "e" that have holes inside will just be filled

[2017-02-05 22:55] MKGitHub opened #35 "Add the ability to use Xcode playgrounds"
Add the ability to use Xcode playgrounds.

thx

[2017-02-05 23:40] MKGitHub opened #36 "Can't compile using Carthage Framework"
See attached
[Xcode.zip](https://github.com/airbnb/lottie-ios/files/753414/Xcode.zip)
![2017-02-06 at 00 39 11](https://cloud.githubusercontent.com/assets/535550/22630986/df3e8088-ec04-11e6-87c7-dcae54c2d403.png)

[2017-02-06 01:50] zjjzmw1 opened #37 "pod 安装失败"
[!] Unable to find a specification for `lottie-ios`

[2017-02-06 06:42] Xlff commented on #37
pod update 试试

[2017-02-06 08:41] XTShow commented on #37
@Xlff 真的可以，但是巨慢。。。（非网络环境问题，别的速度正常）估计还是这个有什么问题吧~~~

[2017-02-06 08:45] RobinChao opened #40 "Animated Keyboard crash !!"

[2017-02-06 09:35] zjjzmw1 commented on #37
@Xlff ,pod update 就OK了，挺快的。

[2017-02-06 12:51] yozef commented on #22
Trim Multiple Shapes **Individually** is now supported in `bodymovin` version 4.5.4.

[2017-02-06 13:39] Ushaka opened #41 "Is transparency supported?"
Tried to create a simple animation showing that something is being calculated:

http://gph.is/2kyQMdP

This seems to work perfectly fine through bodymovin, but when I transfer it to Lottie and play it through XCode I lose the transparency where the buttons are.

http://gph.is/2jTu1Ve

So I am wondering how I should maintain the transparency seen in the first gif when using Lottie?

[2017-02-06 17:24] buba447 commented on #41
Transparency is supported! Are you using precomps?

[2017-02-06 21:24] cgmaier opened #42 "should consider exposing containing CALayer for animations"
Even though it appears all of the animating happens in the domain of Core Animation, the animations can only be accessed via UIView. Would be nice to be able to instantiate animations for CALayers as well, so that they may be used in contexts which require layers.

[2017-02-07 00:57] gpeal commented on #22
I can look into supporting this on Android as well

[2017-02-07 00:59] gpeal commented on #23
Android will support this as well in the next release

[2017-02-07 00:59] gpeal commented on #32
Android will support this in the next release.

[2017-02-07 02:44] rkim-homma opened #43 "Support Even-Odd Fill Rule"
[Archive.zip](https://github.com/airbnb/lottie-ios/files/756480/Archive.zip)

[2017-02-07 02:45] rkim-homma commented on #43
Bodymovin's player animates properly, but Lottie SDK does not.

[2017-02-07 04:48] therealsalih commented on #43
Hi Rkim! Just checked out your Ae file. Animation fill works properly but what Lottie doesnt support yet is multiple paths in the same group that subtract each other. nor do we support merge paths. (Squall does right now)

<img width="962" alt="screen shot 2017-02-06 at 8 42 26 pm" src="https://cloud.githubusercontent.com/assets/5893643/22678156/d92ff23c-ecac-11e6-92a6-8ae1f5a5b20d.png">

Thats wh

[2017-02-07 05:44] qiaoxueshi commented on #37
@zjjzmw1 OK了，就把 issue 关掉吧

[2017-02-07 06:01] zjjzmw1 commented on #37
已经OK了。多谢了。

[2017-02-07 06:01] #37 closed

[2017-02-07 08:28] LabelChuang opened #44 "I would like to ask what Lottie is the tool used to do animation"

[2017-02-07 08:28] ljharb commented on #44
Do you mean After Effects, which is mentioned in the readme?

[2017-02-07 08:39] Ushaka commented on #41
I did not, but tried doing so now. Still only see the outline of the calculator itself. I have tried both creating the shape as a solid, and directly from a vector layer. I am using the example file for XCode to test with, could that be the issue?

https://www.dropbox.com/s/5obk4dkqp43pud6/calculator_animation.aep?dl=0 (the aep file in question)

[2017-02-07 08:42] LabelChuang commented on #44
No ，Lottie read the Jason file, so I need to use animation software to create an animation and convert it to Jason file，  Sorry my English is poor

[2017-02-07 08:45] ljharb commented on #44
Right - Adobe After Effects is that animation software, as described in the readme.

[2017-02-07 08:51] LabelChuang commented on #44
Thank you very much.

[2017-02-07 08:51] #44 closed

[2017-02-07 10:07] Donny2g opened #45 "bugs with typing!"
When I typing something some letters still playing animations.Like this picture![](http://p1.bpimg.com/567571/c217bf79f0ecbacf.png)

[2017-02-07 15:19] nlogioco opened #47 "Reset Animation"
I'm speaking in particular to iOS. Is there currently a way for an animation to be reset before it completes?

[2017-02-07 17:05] nlogioco opened #48 "Reverse Animation"
Is there a way to set the current progress and then set the end progress and then animate?

Ex:
ToValue: 0.0
FromValue: 0.5

[2017-02-07 17:23] nlogioco commented on #47
Can you reset an animation by using 'animationProgress = 0.0'?

[2017-02-07 18:18] buba447 commented on #47
@nlogioco Yeah that should work! is it not working?

[2017-02-07 18:18] buba447 commented on #48
I haven't be able to get reverse animations to work yet!

[2017-02-07 18:19] buba447 commented on #42
@cgmaier The animations are limited to a single layer, they are nested within a hierarchy of layers so they cannot be easily exposed. What is it that you would like to do with the exposed animations?

[2017-02-07 18:20] buba447 commented on #41
@Ushaka that link is broken. If you could link me with the after effects file i will check it out :)

[2017-02-07 18:21] buba447 commented on #32
@MKGitHub Yes it does! We're working to resolve this :)

[2017-02-07 18:22] buba447 commented on #32
@MKGitHub A work around is to parent your layer to another layer and do one animation on the parent and another on the layer. I know this is pretty messy and cumbersome but it will work until we get multi-dimension support running

[2017-02-07 18:22] #31 closed

[2017-02-07 18:31] nlogioco commented on #47
@buba447
It is. I realized if 'animationProgress' is set before 'play' it'll go to that progress spot via animation. If 'animationProgress' is set after play, it'll cancel the animation and go back to beginning and not play.

I have noticed something weird (not sure if it is by design):

`
animation?.animationProgress = 0.9
animation?.play()
`

Expected results v1:
Start the animation at 0% comple

[2017-02-07 18:32] nlogioco commented on #48
@buba447 This would be an amazing feature.

[2017-02-07 18:33] ianegordon opened #49 "Category Methods should be prefixed"
The methods added in UIColor+Expanded and CAAnimationGroup+LAAnimatableGroup should be prefixed to avoid name collisions.

**Avoid Category Method Name Clashes**
https://developer.apple.com/library/content/documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/CustomizingExistingClasses/CustomizingExistingClasses.html#//apple_ref/doc/uid/TP40011210-CH6-SW4

This is related to #16

[2017-02-07 18:46] buba447 commented on #40
@RobinChao Do you have repo steps?
There was a fixed merged a few days ago into master and I want to verify it has indeed been fixed

[2017-02-07 19:14] rkim-homma commented on #43
@therealsalih, thanks for the feedback.  Useful tip to know.  My belief this may be a side effect of AE's "Create shapes from Vector layers".  My workflow is a bit complex and I'm curious what sort of work flow you folks use.  DO you create the raw paths and vectors directly in AE?

My designer started from Sketch and the experimental workflow currently looks like this.
Sketch > export SVG
AI > im

[2017-02-07 19:40] buba447 commented on #23
@Audiobrad Just added into master! Will be in the next cocoa pod release!

[2017-02-07 19:40] #23 closed

[2017-02-07 19:40] buba447 commented on #32
@MKGitHub Added support into master, will be in the next cocoa pods release!

[2017-02-07 19:40] #32 closed

[2017-02-07 19:42] buba447 commented on #49
Will fix in the next release! Sorry!

[2017-02-07 20:09] MKGitHub commented on #32
thx

[2017-02-07 21:40] Audiobrad commented on #43
@rkim-homma I am using the same workflow. I find from time to time that sketch makes the vector files a lot more complex than they need to be and sometimes break in AE.

I will often spend some extra time in AI going though the layers and doing as much cleanup as possible. This typically entails getting rid of all of the container boxes and excess junk brought over from sketch so only the clean as

[2017-02-07 23:20] #49 closed

[2017-02-07 23:20] #40 closed

[2017-02-07 23:20] #16 closed

[2017-02-07 23:20] #25 closed

[2017-02-08 00:21] therealsalih commented on #43
My workflow is similar.
Sometimes I go Sketch > PDF > AE (Create shapes from Vector Layer)
Yes there is extra container boxes and junk and sometimes depending on the complexity of the asset its easier to through deleting junk directly in AE.

Sometimes I do Sketch > PDF > AI (deleting junk in illustrator) > AE (Create shapes from Vector Layer)

Hopefully one day we can all have a better Sketch > A

[2017-02-08 01:20] Audiobrad commented on #43
Interesting. I'll have to give the PDF route a shot. I agree. Looking forward to a better Sketch > AE workflow

[2017-02-08 04:34] rustyshelf opened #52 "Pause animation at a specified progress amount"
Just having a look at this project and it looks great! One thing that seems to be missing though is the ability to pause an animation at an amount of progress. So imagine being able to play to say 50% of the way through then automatically pause.

Why might this be handy?
Well imagine a play/pause button that we want to animate when the user taps it. So the sequence of events would be:
[user taps]

[2017-02-08 08:05] zhengyaoyuan opened #53 "How to add it without pod or Carthage"
How can I use it?  I want to just add some files to use it. thanks for help

[2017-02-08 08:35] Ushaka commented on #41
Oh, I must have moved it by accident. Here it is again:
https://www.dropbox.com/sh/kt1redr3e1j2e7c/AAASAgu_dt7o3upfG_0iW6dla?dl=0

[2017-02-08 08:49] revolter commented on #23
@buba447, Could you provide an estimate date for the next release?

[2017-02-08 14:07] mbuchetics opened #54 "Carthage installation documentation is wrong"
The readme states:

However, this is not correct. According to Carthage, you need to

[Carthage Readme](https://github.com/Carthage/Carthage#if-youre-building-for-ios-tvos-or-watchos)

[2017-02-08 14:30] GerardWoldendorp opened #55 "Lottie Swift Support."
When I try to download Lottie with Carthage for Swift it gives me an error that it can't run the Objective-C module Lottie.

<img width="259" alt="schermafbeelding 2017-02-08 om 15 29 02" src="https://cloud.githubusercontent.com/assets/23334267/22741400/76f07106-ee13-11e6-8f62-3232a2fa1536.png">

[2017-02-08 14:58] its-micah opened #56 "Set animationProgress to end"
I've been trying to see if I can set the animation to it's end, or 'animationProgress = 1.0', in case I want to see it at it's finished state without having it go through the animation. I know I could just use a still image instead, but is this possible?

[2017-02-08 15:19] eXhausted opened #57 "Animated composition"
Hello guys! Nicely done.

I have a question. Does lottie support transforms on composition? Something like on the screenshot:
![screen shot 2017-02-08 at 17 09 10](https://cloud.githubusercontent.com/assets/597039/22743038/8def1bce-ee21-11e6-8761-831bc480511b.png)

If not, are you planning to add it in the nearest future? I could try to do it myself, in case you don't have such plans. I saw some c

[2017-02-08 15:53] eXhausted commented on #57
I've found related issue in android's issues https://github.com/airbnb/lottie-android/issues/61

[2017-02-08 18:26] buba447 commented on #56
@its-micah That should work! Are you having an issue?

[2017-02-08 18:26] buba447 commented on #57
@eXhausted Yes we are working to add pre comp support!

[2017-02-08 18:29] ohyeslk opened #58 "Memory management issues when AE uses too much mask for animation"
When AE animation uses a lot of mask, there's some bug on memory management.

[2017-02-08 18:34] buba447 commented on #53
Hello! You can use it without pods or carthage.
First your project must be converted to a workspace if its not already.
Then you must drag the Lottie.xcodeproj into the the workspace.
Finally you must go to your project target and add Lottie.framework under the section 'Linked Frameworks and libraries'

[2017-02-08 18:34] #53 closed

[2017-02-08 18:35] buba447 commented on #52
Great suggestion!  We were also looking into supporting time markers.
Ill add it to the features request list! Thank you!

[2017-02-08 18:37] buba447 commented on #47
Hmm thats very strange @nlogioco
Is the `animation.animationProgress = 0.9
animation.play()` happening before or after you've added it to a superview? Can I get more context?

[2017-02-08 18:38] #13 closed

[2017-02-08 18:39] buba447 commented on #58
@ohyeslk  Could you be more specific? Do you have an animation I can test with?

[2017-02-08 18:44] aaroncrespo commented on #13
this is for accessibility not internationalization.

[2017-02-08 18:44] aaroncrespo commented on #13
For example how would a blind person be able to read those text fields.

[2017-02-08 19:04] nlogioco opened #60 "Linear position keyframes are eased"
So I'm doing a position transform on a layer and in AE it runs linearly. When I run it on device (iOS) it looks like it runs linearly until the last 80% of the animation and then it slows down.

Any reason why?

[2017-02-08 19:05] nlogioco commented on #47
@buba447

I add it to the superview before setting the properties.

What would you recommend?

[2017-02-08 19:38] its-micah commented on #56
@buba447 Similar to the #47 , I'm setting the animationProgress to 1, then calling play(). This is all after adding the LAAnimationView to it's superview. When doing this, I'm getting the issue of the animation not appearing at all.

For more context, I'm also adding the LAAnimationView as a subview of an IBOutlet view from a storyboard. See below. Any suggestions or recommendations?

iconView = L

[2017-02-08 19:39] EncodedNybble opened #61 "Add Support for Looping at Certain Progress"
I have some animations which are designed to play a small "intro", then play the "main" part of the animation. The "main" part of the animation is to then be looped (to save space) either indefinitely or for a particular number of loops (specified outside of After Effects, obviously).

In my current system I have the ability to specify a frame/progress percentage in which the animation will start

[2017-02-08 21:11] therealsalih commented on #60
Can you send the AE file so we can test it out?

[2017-02-08 21:16] pappy74 opened #62 "Not all development environments support paths with spaces"
Looks like a recent update added folders with spaces. Not all development environments support that. You might want to consider camel-casing instead.

[2017-02-08 21:53] lawsonshanks commented on #60
@therealsalih Here is the AE file. Animation works fine in AE and the bodymovin preview, but seems to have a lag in the first y-axis position transform when run through Lotti.
[drop-rotate.aep.zip](https://github.com/airbnb/lottie-ios/files/762046/drop-rotate.aep.zip)

[2017-02-08 22:01] buba447 commented on #62
@pappy74 which folder?

[2017-02-08 23:25] rkim-homma commented on #43
@Audiobrad @therealsalih
Glad to hear my workflow wasn't too far off.  I ended up re-drawing all of the vector paths in AI and imported them into AE without any use of odd-even fills.  Works like a charm in the Lottie sample app.

Thanks!

[2017-02-09 00:02] pappy74 commented on #62
https://github.com/airbnb/lottie-ios/tree/master/lottie-ios/Classes/Animatable%20Layers
https://github.com/airbnb/lottie-ios/tree/master/lottie-ios/Classes/Animation%20Cache
https://github.com/airbnb/lottie-ios/tree/master/lottie-ios/Classes/OSX%20Compatability

[2017-02-09 00:28] therealsalih commented on #43
Maybe Lottie will spur some genius sketch plugin writers to write a sketch > AE plugin... 🙏

[2017-02-09 09:56] liu044100 commented on #55
Maybe you can drag framework to your project directly

[2017-02-09 12:02] yozef opened #65 "iOS/Android device form factor - design pattern (for Edge to Edge animation)"
I've noticed that each device (iPhone 5, 6 and 6+) form factors, require each it's own aep (and it's own .json) composition reflecting the size of the targeted device for *pixel perfect edge to edge* screen animation _(example, placing a border around the screen)_.

In other words, for each of the iPhone device form factor, the Compositions are:
- iPhone 5: 568 x 320
- iPhone 6, 7: 667 x 375
- iPh

[2017-02-09 13:59] WuChuming opened #66 "GitHub API request failed: DoesNotExist"
I followed the guide to get the Lottie Framework with Carthage, But I get the message indicating "GitHub API request failed: DoesNotExist" on the terminal,I have been searching the solution from network and I am failed. Please tell me how I can solve this problem! Thank you very much！

[2017-02-09 14:18] johnkeese commented on #15
The following process, while tedious, worked for me.

1. Start with text in Illustrator (you might be able to pull in stuff from Sketch as well?)
2. Outline the text
3. For each character that requires "Merged paths" when outlining in After Effects place a hidden cut. This is easiest using the knife tool.
4. Import AI file into After Effects and "Create Shapes from Vector Layer"

![screen shot 201

[2017-02-09 14:19] johnkeese commented on #43
The following process, while tedious, worked for me.

1. Start with text in Illustrator (you might be able to pull in stuff from Sketch as well?)
2. Outline the text
3. For each character that requires "Merged paths" when outlining in After Effects place a hidden cut. This is easiest using the knife tool.
4. Import AI file into After Effects and "Create Shapes from Vector Layer"

![screen shot 201

[2017-02-09 14:32] terenzeyuen commented on #55
Getting same issue here.

[2017-02-09 15:24] loisyang opened #67 "Pod installed but framework not found Lottie"
[code]

I used cocoapod to install but still fail to have the framework working. Any solutions?

[2017-02-09 18:44] therealsalih commented on #41
Hi Ushaka! Gave your AE file a look, and it looks like you're issue isnt transparency, its about "fill rule". ([wtf is fill rule](https://www.sitepoint.com/understanding-svg-fill-rule-property/)) Right now you have multiple paths in a group and the fill rule is letting each small square cut a hole out of the calculator. Right now Lottie doesn't obey this, it just merges the paths into one shape.

[2017-02-09 18:45] paulsumit1993 commented on #67
Cocoapod works fine both on ObjC and Swift projects.
Carthage installation seems to be broken.

[2017-02-09 18:46] paulsumit1993 commented on #66
Try cocoapods

[2017-02-09 18:51] therealsalih commented on #60
Hi @nlogioco and @lawsonshanks I can see what the issue is here. it looks like there an issue with linear position keyframes. they look like they are easing even though they are linear. We will look into this ASAP! Thanks!

[2017-02-09 22:36] buba447 commented on #67
@paulsumit1993 @loisyang We've just pushed a dot release that should fix these problems! 1.0.2

[2017-02-09 22:36] #67 closed

[2017-02-09 22:36] buba447 commented on #66
@WuChuming just published a dot release which should fix this!

[2017-02-09 22:37] #66 closed

[2017-02-09 22:37] buba447 commented on #62
@pappy74 just pushed a dot release that fixes this! Sorry!

[2017-02-09 22:37] #62 closed

[2017-02-09 22:38] pappy74 commented on #62
Thanks!
On Thu, Feb 9, 2017 at 2:37 PM Brandon Withrow <notifications@github.com>
wrote:

[2017-02-09 22:39] buba447 commented on #65
@yozef if you use the content mode ScaleAspectFill  you can scale it to fit edge to edge screen.
There will be a very minimum amount of cropping but if you anticipate that you can craft the composition to look good on all devices!

After effects works in an absolute coordinate system, so theres no way to specify things as a percentage of the screen.

[2017-02-09 22:39] #65 closed

[2017-02-09 22:41] buba447 commented on #55
Just updated the cocoa pod and the carthage file to 1.0.2
This should work now! Please reopen if you continue to have troubles @terenzeyuen @GerardWoldendorp

[2017-02-09 22:41] #55 closed

[2017-02-09 22:42] buba447 commented on #54
Fixed!

[2017-02-09 22:42] #54 closed

[2017-02-09 22:44] #41 closed

[2017-02-09 22:44] buba447 commented on #36
Should be fixed now! Just pushed a new version!
@MKGitHub

[2017-02-09 22:44] #36 closed

[2017-02-09 22:46] buba447 commented on #15
@johnkeese Precomps aren't yet supported! Were working on it though :)

[2017-02-09 22:46] #15 closed

[2017-02-09 22:49] buba447 commented on #56
@its-micah why are you calling play? What are you hoping to happen here?
You should be able to just set animationProgress to 1 if you want to display the final frame statically.

[2017-02-10 02:31] DaisukeZJY opened #72 "Unable to find a specification for `lottie-ios`"
how to solve? thanks

[2017-02-10 04:35] badfranco commented on #72
I have the same issue...

[2017-02-10 06:24] Harvey4431 opened #73 "Add image support"
my animator need to operate some .png img ,build a new folder "images" and put .png file in it .
json like this:"
{
"assets": [
{
"id": "image_0",
"w": 960,
"h": 540,
"u": "images/",
"p": "img_0.png"
}
],
...
} "
but I has run app ,can't see anything without empty

[2017-02-10 07:14] WuChuming commented on #66
Thank both of you! I download new files and try "Carthage update" again! The problem is still exist, Terminal shows "GitHub API request failed: DoesNotExist", I have tried Cocoapods at the beginning, Cocoapods is fine, and generates new files as usual, but the program I create can't find the header file of "Lottie.h", I contract the example project and my project, I find out there is missing frame

[2017-02-10 08:48] kirayamato1989 commented on #72
same issue

[2017-02-10 12:11] tskulbru commented on #25
In instances (like the one mentioned) where the auto generated swift method name isn't following the Swift naming conventions, the API should define its own override using `NS_SWIFT_NAME`.

Its not a major issue, but still. Would be nice if the library followed proper naming conventions.

https://developer.apple.com/library/content/documentation/Swift/Conceptual/BuildingCocoaApps/MixandMatch.html#

[2017-02-10 12:41] definefeeling commented on #73
i use ae app create a aep file and contain a png,export it.use lottie open and show empty.

[2017-02-10 14:22] jorgeneidem commented on #72
Same issue. Deleting my pod master repo fixed it:

[code]

[2017-02-10 14:29] paulsumit1993 commented on #73
Image support is on the [roadmap.](https://github.com/airbnb/lottie-ios#roadmap-in-no-particular-order)
see #14

[2017-02-10 15:41] johnkeese commented on #15
@buba447 oh my bad. Good to know!

[2017-02-10 15:47] its-micah commented on #56
@buba447 Ahh, my mistake. But by setting animationProgress to 1 and removing play, the final frame still does not display. However, if I set the progress  to 1 asynchronously, the final frame does display statically. It seems to not display if it's set immediately after being added to it's parent view.

[2017-02-10 16:38] buba447 commented on #72
Pod repo update
Should do it!

On Friday, February 10, 2017, Jørgen Eidem <notifications@github.com> wrote:

[2017-02-10 19:33] buba447 commented on #73
Gonna close this as its a duplicate issue :)

[2017-02-10 19:33] #73 closed

[2017-02-10 19:33] #72 closed

[2017-02-10 22:25] MKGitHub opened #75 "Latest master issues with Carthage framework"
Ran carthage update and tried adding the iOS framework as embedded, compiled and got this

![2017-02-10 at 22 51 05](https://cloud.githubusercontent.com/assets/535550/22846503/1fb8c772-efe8-11e6-9dfd-7a0072e5d53f.png)

[2017-02-11 16:59] hansemannn opened #78 ""duration" returns seconds on iOS, milliseconds on Android"
Not much more to say I guess. iOS returns the playback duration in seconds, Android in milliseconds. The general unit for playback durations is in milliseconds, so they should probably be normalized.

[2017-02-11 22:00] dcow commented on #75
I get the infamous:

   Ineligible destinations for the "Lottie" scheme:
		{ platform:iOS, id:dvtdevice-DVTiPhonePlaceholder-iphoneos:placeholder, name:Generic iOS Device }
		{ platform:iOS Simulator, id:dvtdevice-DVTiOSDeviceSimulatorPlaceholder-iphonesimulator:placeholder, name:Generic iOS Simulator Device }

When running `carthage update`.

[2017-02-11 22:17] dcow opened #80 "Deployment target is too high (builds fail)"
I cloned the repo and attempted to build the project for iPhone but Xcode reported the project could not be built for my 10.1 iPhone because the deployment target is 10.2. This feels unnecessary.

I did this because building with Carthage was giving me:

[code]

After lowering the deployment target, things worked fine.

[2017-02-11 22:22] dcow commented on #80
I'm not sure if a workaround would be creating an iPhone simulator with the latest iOS version so that _something_ exists with the a valid deployment target.

[2017-02-11 22:41] dcow commented on #80
I suspect updating Xcode might fix the issue, but I'm only one version behind and it's probably not that reasonable to expect everyone to be on the latest Xcode all the time.

[2017-02-12 08:52] valeriyvan opened #82 "Null is assigned to a _Nonnull pointer"
/lottie-ios/lottie-ios/Classes/Private/LOTAnimationView.m:272:15: Null is assigned to a pointer which is expected to have non-null value

Static analiser is our friend.

[2017-02-12 10:33] zyxscientist opened #83 "The animation doesn't works but only shows the background layer"
![wechatimg1397](https://cloud.githubusercontent.com/assets/16728209/22861301/9ae666e8-f150-11e6-80ea-9e540b290705.jpeg)

I render the comp and get the json,everything looks fine,but it just not works on my iPhone.But when i use the .json file download from the official blog,things work fine.So in one word,the json file rendered by my own After Effect doesn't work.

- After Effect CC 2015 & bodymo

[2017-02-13 04:43] therealsalih commented on #83
Hi @zyxscientist as said in your other issue, Lottie iOS does not yet support precomps. Please follow this issue as we'll be adding support soon

https://github.com/airbnb/lottie-ios/issues/57

Thanks!

[2017-02-13 10:42] amrittrivedir opened #84 "AVSynchronizedLayer Issue"
It is not working with AVSynchronizedLayer. I am adding LOTAnimationView layer to AVSynchronizedLayer and setting begin time to CACurrentMediaTime(). But nothing happens. If I will add LOTAnimationView layer to any other CALayer then it works fine. Any suggestions for that?

[2017-02-13 11:09] steve228uk opened #86 "Outdated version on Cocoapods"
The current version pushed to the Cocoapods trunk is 1.0.0 which is not inline with the latest version 1.0.3.

[2017-02-13 14:35] allanweir commented on #48
I think there is some duplication of Lottie's animation code so this could be improved, but if you want to quickly see partial or reverse playback I've created a class here:

https://gist.github.com/allanweir/badefea836590cfe61edae915b6e40bf

[2017-02-13 14:52] allanweir commented on #52
Hey, as a temporary workaround until the Airbnb guys get it in, I have a Lottie subclass which might help that plays from A to B. It's not full featured such as triggering completion blocks but could help you get started https://gist.github.com/allanweir/badefea836590cfe61edae915b6e40bf

[2017-02-13 14:55] allanweir commented on #83
Are there any plans to give debug output when unavailable features are used in an animation? I'm trying to integrate an animation from a designer in a different location at the moment but I don't have access to the after effects file so I can't tell what exactly is stopping the animation from appearing.

[2017-02-13 15:28] alapergola commented on #86
Is that why I'm getting this error message when installing pods ?
Analyzing dependencies
[!] Unable to find a specification for `lottie-ios`

[2017-02-13 15:47] steve228uk commented on #86
@alapergola It should find one, try running `pod repo update`.

This will load the latest direct from Github:

[code]

[2017-02-13 15:48] zyxscientist commented on #83
Sounds great but maybe it is a big project.

2017年2月13日 +0800 PM10:55 Allan Weir <notifications@github.com>，写道：

[2017-02-13 16:24] ysfnjr opened #88 "Text layers not supported?"
Heyo, I'm new to animations so sorry if I'm doing something dumb.

I'm having a hard time getting simple text layers to display on iOS. I have an example AE project attached.

I have a text layer and a shape layer. I then use Bodymovin to export as .json, and run it in my test iOS app. I can see the shape animating, but the text isn't there at all.

If I try to use the same .json in an html player

[2017-02-13 17:16] therealsalih commented on #88
Hi @ysfnjr I took a look at your AE file and yes you are correct, text layers aren't supported in Lottie but they are supported in Bodymovins web renderer.
We'll be working on supporting them in the coming months.
Here are a couple of other features that aren't yet supported

**Currently Unsupported After Effects Features**
Image Layers
Precomps (coming soon)
Even-Odd winding paths
Trim Shapes Ind

[2017-02-13 17:50] #88 closed

[2017-02-13 17:50] #86 closed

[2017-02-13 17:51] buba447 commented on #30
Im not sure what it would take to support this but I will add it to our research list!

[2017-02-13 17:52] buba447 commented on #84
Duplicate of https://github.com/airbnb/lottie-ios/issues/30

We haven't supported AV layer yet. Will look into it

[2017-02-13 17:52] #84 closed

[2017-02-13 17:54] buba447 commented on #80
@dcow Sorry you experienced problems! The version limit wasn't intentional, but a default by Xcode! Im not sure how this happened as I am also on 10.1 (I also take a long time to update myself.) and it runs ok over here. Hmmm.
Ill look into it!

[2017-02-13 17:56] buba447 commented on #78
@hansemannn The seconds on iOS is in keeping with the media interval that is established with CALayer. Im not sure what the standard is on Android.
This might be a difference in platforms and not this framework though. If thats the case we will stay in line with the platforms. If not we will normalize.

[2017-02-13 17:56] #78 closed

[2017-02-13 20:03] SabrinaCurry opened #89 "Animations not working on mobile"
When I render out the animation with Bodymovin, it works fine on web but when placed in mobile elements start to get distorted or don't show at all. Any idea what may be the problem? Looked through the unsupported feature list and none of the unsupported features are being used in the animations so not too sure whats happening.
[lottie-issues.mov.zip](https://github.com/airbnb/lottie-ios/files/772

[2017-02-13 21:32] buba447 commented on #89
I can't really tell anything from the video without knowing what the animation is suppose to look like. Would you mind sharing the after effects file? @SabrinaCurry

[2017-02-13 21:33] buba447 commented on #83
@allanweir Great idea! Were gonna look into it.

[2017-02-13 21:33] #83 closed

[2017-02-13 21:49] buba447 commented on #89
@SabrinaCurry I see the issue! Its a bug with out implementation of animating XY position as separate dimensions! Good catch! Thank you for letting us know!
I have fixed the issue here https://github.com/airbnb/lottie-ios/pull/90
It will be merged into master and available in the next cocoa pod release later this week :)

[2017-02-13 21:49] #89 closed

[2017-02-13 23:04] #80 closed

[2017-02-13 23:39] buba447 commented on #56
@its-micah Hey! I finally think i found a fix for this! Please pull the latest master and give it a shot.
Lemme know if it doesn't work.

Heres the fix if you're interest.
https://github.com/airbnb/lottie-ios/pull/91

[2017-02-13 23:39] #56 closed

[2017-02-13 23:39] buba447 commented on #47
@nlogioco I think i found a fix. I push pushed it to master.

[2017-02-13 23:40] buba447 commented on #47
@nlogioco Please check it out and let me know if it didn't work!

https://github.com/airbnb/lottie-ios/pull/91

[2017-02-13 23:40] #47 closed

[2017-02-13 23:40] buba447 commented on #45
This should be fixed!

[2017-02-13 23:40] #45 closed

[2017-02-13 23:45] buba447 commented on #75
@MKGitHub This is because we renamed the LAAnimationView to LOTAnimationView
I should've made it a major version update and notified everyone! Sorry!

@dcow your issue is due to the iOS version

[2017-02-13 23:45] #75 closed

[2017-02-14 00:11] buba447 commented on #35
@MKGitHub Lottie already supports playgrounds!
Like all 3rd party libraries the playground must be in a workspace that builds the library. A cocoa pod workspace will work fine for this.
Then create a new playground in the workspace and `import Lottie`
Add the JSON to the `Resources` folder under the playground.

Example:
[code]

<img width="1107" alt="screen shot 2017-02-13 at 4 10 54 pm" src="htt

[2017-02-14 00:11] #35 closed

[2017-02-14 03:08] its-micah commented on #56
@buba447 Hey! The fix works like a charm. Thank you!

[2017-02-14 05:31] therealsalih opened #92 "Rectangle size animation bugs"
There are some bugs with the rectangle size when it animates.  JSON files and AE file are here:
[RectangleSize.zip](https://github.com/airbnb/lottie-ios/files/773215/RectangleSize.zip)

Youll see some various things within the different files in this AE file
In some animations the top right corner looks like its closing and un-closing
![feb-13-2017 21-23-33](https://cloud.githubusercontent.com/ass

[2017-02-14 07:13] rdd7 opened #93 "Support Alpha Inverted Mattes"
I use the four circle json files which are exported from bodymovin in my iOS  project，but the animation seems not correctly .
I'm not familiar with AE，but the exported json file works well in Android demo and http://svgsprite.com/demo/bm/player.php?render=canvas&bg=fff.

[Archive.zip](https://github.com/airbnb/lottie-ios/files/773357/Archive.zip)

[2017-02-14 12:46] Ushaka opened #94 "Issue using trim paths"
Me again. This time I tried to use trim paths and shapes from Illustrator, which looks great through Bodymovin. Somehow parts of the animation does not follow through though. Any ideas?

Example:
![lottieerror](https://cloud.githubusercontent.com/assets/2385335/22929378/b14ee114-f2bb-11e6-8378-d5c2c49a6233.gif)

File: https://www.dropbox.com/s/79yg7lldjct13ys/Play2Smile.aep?dl=0

[2017-02-14 14:13] Ushaka commented on #94
So I figured out that Lottie did not support the offset value, but it worked when I rotated the element instead. That leaves only the position of the left eye, which is the exact same place and size of the right one in After Effects, but not in Lottie. Does Lottie calculate position/size differently or something?

[2017-02-14 16:53] therealsalih commented on #94
I Ushaka! Are you using the latest version of Bodymovin AND the latest version of Lottie? My animation looks like this:

![feb-14-2017 08-36-28](https://cloud.githubusercontent.com/assets/5893643/22938498/c4e9c9c6-f290-11e6-8488-b50d224c68ad.gif)

So it looks like there is some difference in how the pause button is looking on iOS. Because here is what the same animation looks like in the android s

[2017-02-14 16:59] therealsalih commented on #94
Hi Ushaka, here is a temporary workaround until we can figure out whats going on

<img width="351" alt="screen shot 2017-02-14 at 8 57 20 am" src="https://cloud.githubusercontent.com/assets/5893643/22939477/a6113720-f293-11e6-93af-af4c000d1d64.png">

I created two new layers for the pause button where I took Trim Paths off. Check it out in this AE file:
[Play2Smile.aep.zip](https://github.com/airb

[2017-02-14 17:09] therealsalih commented on #93
Hi @rdd7 I took a look at your file and there are a few of things

in "circle01" we dont yet support Precomps or Time Remapping

<img width="288" alt="screen shot 2017-02-14 at 9 05 12 am" src="https://cloud.githubusercontent.com/assets/5893643/22939837/d7ab13ea-f294-11e6-9945-2fd927e903be.png">

Also in "circle01"  "circle03" and "circle04" You're using Alpha Inverted mattes which we dont yet sup

[2017-02-14 17:13] cgmaier commented on #42
Hey sorry for the late reply! I’d like to explore this as a way of adding dynamic vector-drawn content to video using AVSynchronizedLayer / AVVideoCompositionCoreAnimationTool, or to Scene Kit by setting the diffuse property of a material to a CALayer. In order to do this should just a need a reference to the root/parent layer of that hierarchy you mention, no?

[2017-02-14 22:08] hansemannn commented on #78
Thanks for the feedback, I'm good with that then :-)

[2017-02-15 08:25] GusevAndrey opened #95 "Partial animation"
Hi,

Is there any way to play just a part of animation: stop at given progress, play from A progress to B progress or so?

e.g. for HumburgerArrow play just the first half of it after tap and menu opened and then (after second tap) play the rest of it.

[2017-02-15 18:51] buba447 commented on #95
Hey @GusevAndrey
This has been requested before and we are trying to come up with a good way to do it :)

Duplicate here:
https://github.com/airbnb/lottie-ios/issues/52

[2017-02-15 18:51] #95 closed

[2017-02-15 22:09] svenultimate opened #97 "Outlined shapes via Illustrator losing colors, paths"
All layers are outlined shapes, no effects being used - just position & rotation, with a couple layers parented to some null layers.

Looking like this in AE:
![you_did_it](https://cloud.githubusercontent.com/assets/25779943/22997654/86a5ddde-f390-11e6-9b53-ba92eb95f3b9.gif)

Coming out in iOS like this:
![animation](https://cloud.githubusercontent.com/assets/25779943/22997671/a0b129f4-f390-11e6-8

[2017-02-15 23:04] alexviquez opened #98 "Pod [!] Unable to find a specification for `lottie-ios`"
Hi Bro!, i got this problem when i try to install lottie-ios i make Pod Install and this happend [!] Unable to find a specification for `lottie-ios` , then i tried to make a pod repo update but i cant solve this issue.
![captura de pantalla 2017-02-15 a la s 15 03 24](https://cloud.githubusercontent.com/assets/13012209/22999422/199673a2-f390-11e6-9780-7a180ede3c70.png)

[2017-02-16 00:02] buba447 commented on #94
@Ushaka Fixed it! Heres the PR https://github.com/airbnb/lottie-ios/pull/99

Its been merged into master and will be available with the next dot release of Carthage or Cocoapods next week. For now you can just pull master though :)

[2017-02-16 00:02] #94 closed

[2017-02-16 01:48] rustyshelf commented on #52
@allanweir thanks for that. Tried it out but It seems like in the current version (1.0.4) setting it up using the `contentsOf` initialiser results in an empty view.

[2017-02-16 02:13] rustyshelf opened #100 "LOTAnimationView contentsOf initialiser results in blank view"
Loading an animation like this:
[code]
Results in a blank view

Doing it like this however:
`playPauseAnimation = LOTAnimationView.animationNamed("play_pause")`
Renders the animated view properly

It seems like the contentsOf method is broken somehow, because even in the example app I can't load an animation from a URL. (this is in Lottie 1.0.4, though I also tested with 1.0.1, same issue)

[2017-02-16 03:43] rustyshelf commented on #100
#101 submitted which fixes this issue. Tested in sample app and my own code.

[2017-02-16 06:03] GusevAndrey commented on #95
Thx! Look forward to see it soon)

[2017-02-16 09:28] amrittrivedir commented on #84
I am able to do it in AVSynchronizedLayer by only using _animationContainer layer. But now I can't export with same timing with avvideocomposition animation tool. I have to use repeat mode to see animation in calayers of avvideocompostion animation tool. Without repeat it's not working. And using repeat animation sometimes playing and sometimes it's not even starting.

[2017-02-17 01:55] xinsight commented on #98
This is a cocoapods/git issue. Just remove the index.lock file

[2017-02-17 03:47] rustyshelf commented on #100
My bad, figured out this issue was at my end. Closed the pull request and closing this issue as well. Feel free to delete it if that's a thing on GitHub.

[2017-02-17 03:47] #100 closed

[2017-02-17 07:22] dungeonsnd commented on #98
Where is the index.lock file?

[2017-02-17 08:26] alexviquez commented on #98
It works Sir @xinsight , Thank you so much!, and the index.lock in my case is in "/Users/alex/.cocoapods/repos/master" just open in terminal and put this command rm -f index.lock, and then use pod repo update, and then pod install !

[2017-02-18 03:20] maxgribov opened #103 "How to remove LOTAnimationView correctly and clean up animation data from memory? [macOS]"
I'am try remove  `LOTAnimationView` calling it's `removeFromSuperview` method and get autolayout exeption for each sublayer (target macOS 10.12) :

Stack:(
	0   CoreFoundation                      0x00007fffd3ad1e7b __exceptionPreprocess + 171
	1   libobjc.A.dylib                     0x00007fffe86bccad objc_exception_throw + 48
	2   CoreFoundation                      0x00007fffd3b5099d +[NSExcept

[2017-02-18 19:02] wiille commented on #43
I drew my element from scratch in Illustrator and it did not work either, I dont think it is a sketch problem.

Thank you @johnkeese for your solution until the problem is solved. It works!

[2017-02-19 07:33] sujiewen opened #104 "pod not search lottie-ios?"
SjwMacBook:~ Sjw$ pod search lottie-ios
[!] Unable to find a pod with name, author, summary, or description matching `lottie\-ios`
SjwMacBook:~ Sjw$ pod search lottie
[!] Unable to find a pod with name, author, summary, or description matching `lottie`
SjwMacBook:~ Sjw$ pod --version
1.2.0

[2017-02-19 18:30] rdougan opened #105 "Add support for polygons"
I'm new to AE and Bodymovin, but it looks like polygons are not supported - at least polygons with Trim Paths.

I've attached a simple ae file along with an exported JSON.

I noticed @gpeal said "polygons will be supported soon" over at airbnb/lottie-android#120 but I'm not sure if that is just on Android.

[Archive.zip](https://github.com/airbnb/lottie-ios/files/786080/Archive.zip)

[2017-02-19 19:46] therealsalih commented on #105
Hi @rdougan You're correct. polygons arent yet supported on iOS. @gpeal has begun testing out polygon support on Android as you can see here (https://github.com/airbnb/lottie-android/pull/115) but we're still working on the iOS side.

In the meantime a very simple workaround is you can convert your polygon to a path and it will work fine.

<img width="331" alt="screen shot 2017-02-19 at 11 44 13 a

[2017-02-19 20:23] rdougan commented on #105
@therealsalih thank you! That solves my problem.

[2017-02-20 14:53] federicocappelli opened #107 "Animation scaling"
Using Lottie 1.0.1 I've correctly implemented my animation view, that was able to stretch and scale perfectly in any device:

[code]

now with Lottie 1.0.4 the constraints are ignored and the animationView get the size from the animation definition.

[2017-02-20 15:05] federicocappelli opened #108 "Wrong Semantic versioning"
Source: [http://semver.org/](semver.org)

With one of the recent versions released you have changed all the classes prefixes and, consequently, the Lottie interface in a non-backwards-compatible way, this should involve a MAJOR version bump not only a PATCH version bump.

[2017-02-20 15:13] federicocappelli commented on #107
Solution:
self.animationView?.contentMode = UIViewContentMode.scaleAspectFill

Have a look to [https://github.com/airbnb/lottie-ios/issues/108](issues/108) a breaking change has been introduced, without following the semantic versioning rules

[2017-02-20 17:30] buba447 commented on #108
Yeah weve had a couple of people point this out! Sorry about that!

[2017-02-20 17:30] #108 closed

[2017-02-20 17:31] #107 closed

[2017-02-21 09:30] colasbd opened #109 "My animation does not display"
I've asked a designer to make an animation.
He gave me a `.json` file but when I try to display it, nothing but a white background shows up.
The examples (`TwitterHear` and `HamuburgerArrow`) given in the Demo App do work, so it is not a problem coming from `Lottie` but from the animation.

The animation displays perfectly if loaded through `demo.html` and `data.js` files. But within the `iOS` app

[2017-02-21 13:39] colasbd commented on #109
It was a problem of size.
The size of the exported animation was too big.

[2017-02-21 13:39] #109 closed

[2017-02-21 16:29] svenultimate commented on #97
Got the answer. It hates merged paths.

[2017-02-22 05:12] sureMOE opened #111 "Dashes setting on shape layer path not working on iOS"
I have animated the dashes property in After Effects on a shape layer and it translates fine for the Android player, but iOS doesn't recognize it and ignores the dashes altogether.

[2017-02-22 10:54] maurovc opened #112 "Add delay option for animation."
something common in iOS like:

[code]

[2017-02-22 12:22] pawlowskialex commented on #103
Live objects in memory you see are part of `LOTAnimationCache`, and unrelated to the exception.

But regarding the exception, it seems to me you're trying to call `removeFromSuperview` on `LOTAnimationView` inside `playWithCompletion`.
That completion block is called on the same thread as display link timer, on iOS that's main thread, on macOS it's not.
If you call `removeFromSuperview` on the mai

[2017-02-22 16:26] maxgribov commented on #103
Thank you! On main thread everything works fine. And about the fact that to have the ability to drop the cache for the animation it makes sense to start a new issue?

[2017-02-22 17:06] sureMOE opened #114 "Request: iOS player in app store with ability to bring in files from Drive or iCloud"
Would be nice for us designers to have a player to test things without needing an engineer building and compiling something in order for us to test the JSONs on iOS

[2017-02-22 17:37] sureMOE commented on #111
![unnamed](https://cloud.githubusercontent.com/assets/18271665/23224276/87a8b22c-f8e2-11e6-9785-58a2909c673b.png)
![img_0302 png](https://cloud.githubusercontent.com/assets/18271665/23224277/87b6d62c-f8e2-11e6-9460-d4bc9ec96b3a.png)

[2017-02-22 18:40] therealsalih commented on #111
Hi @sureMOE Can you attach the AE file so we can check it out? Thanks!

[2017-02-22 19:14] sureMOE commented on #111
Yes of course! Here it is.

Also, I am having some ghosting/glitching when this thing loops. I can't figure out what I am doing to cause that in AE, so if you have any insight there, it would be awesome. Thanks!

[YTK_loader_bubbles.aep.zip](https://github.com/airbnb/lottie-ios/files/794547/YTK_loader_bubbles.aep.zip)

[2017-02-22 19:24] sureMOE commented on #111
It appears that when it loops, it draws the entire circle first and then cuts it down to the trim path size. Is this a glitch in how Lottie is drawing the object?

[2017-02-22 19:41] #103 closed

[2017-02-22 20:38] sureMOE opened #115 "iOS: Rounding of rectangle isn't capped to maximum half of width or height, it creates star like artifacting"
If you have a square that is 10 pixels by 10 pixels and you have a rounded corner set to 50 pixels (which is something you do in AE to keep from having to adjust the rounding if you are creating capsules, rounded lines, circles that transition to squares, etc) Lottie on iOS renders the rounded corners based on actual number instead of half maximum rounding possible (in example above, a 10x10 squar

[2017-02-22 21:05] joel-petersen commented on #73
@buba447 Looks like both issues for image support got closed, what is the timeline for images or parent support for custom children? Are you guys up for proposed solutions?

[2017-02-23 05:06] sfdevquestions opened #117 "Networking code in LOTAnimationView?"
I was wondering why is there networking code in LOTAnimationView to load and cache files from an NSURL? The Android version of Lottie does not have networking in the view.

[2017-02-23 11:43] federicocappelli opened #118 "Play completion closure not called in Swift"
[code]

With the last version (1.0.4) the animation is performed correctly, but the completion block is never called.

animationView is a retained variable (Swift)

`fileprivate var animationView: LOTAnimationView?`

and the entire view controller is (Obj-c)

`@property (nonatomic, strong) SplashScreenViewController *splashScreenViewController;`

Note: the bug seems incredibly intermittent O_o onc

[2017-02-23 17:03] colasbd opened #119 "Add support for gradients"
Supporting gradients would be great!

Is it difficult? Do you plan supporting it soon?

[2017-02-23 18:34] buba447 commented on #119
@colasbd Gradient support is on our roadmap for version 2!
We are finishing up Precomp support now :)

[2017-02-23 18:36] buba447 commented on #117
This is a convenience method to load animations from the web, it then stores them in a cache. It is not used to load cache files but to actually download the files.

[2017-02-23 18:36] #117 closed

[2017-02-23 18:36] buba447 commented on #115
Thanks for spotting this! Ill had a quick fix!

[2017-02-23 18:37] buba447 commented on #114
Were working on a mac app for testing!

[2017-02-23 19:05] sureMOE opened #120 "iOS & Android Request: Can we have a full screen mode in both players?"
Then we can test animations at full bleed which will work great for splash animations. Also, there's inconsistency in the player behavior. On iOS, the player you compile has full screen, but can't hide the bottom bar. The Android player doesn't have full screen or a way to hide the bars.

Thanks for all the awesome work on this!

[2017-02-24 01:13] wtmoose opened #122 "Blink when animation loops"
Animation blinks just before looping. If you play this on a loop, there is a green frame displayed between the last and first frames. The green frame is not present in After Effects and the designer has tried multiple revisions.

Any suggestions?

We had a similar animation with only 2 colors and it took the designer 8 iterations to eliminate the blink. No luck with this one so far.

[ColorBar.jso

[2017-02-24 01:43] therealsalih commented on #122
Hi @wtmoose can you attach the AE file?

[2017-02-24 02:04] wtmoose commented on #122
Sure!

[AppAssets.aep.zip](https://github.com/airbnb/lottie-ios/files/798201/AppAssets.aep.zip)

[2017-02-24 18:07] buba447 commented on #115
Fixed on master! Will be bumping version later today.

[2017-02-24 18:07] #115 closed

[2017-02-24 18:11] buba447 commented on #122
@wtmoose I just ran it in the test project and did not see a blink. Any suggestions on how to reproduce?

[2017-02-24 18:13] buba447 commented on #118
Which completion isn't being called? The LOT one or the UIView Animation one?
Is this on OS X or on iOS?
Im not seeing it on my end so I need a bit more context to fix :)

[2017-02-24 18:15] #98 closed

[2017-02-24 18:16] buba447 commented on #104
This seems to be an issue with cocoa pods
Have you tried doing `pod repo update` ?

[2017-02-24 18:41] buba447 commented on #60
Finally looked into this! So its not actually the timing information thats causing the error, its the control point on the path. Its a linear path but it has a control point on the end. This is confusing Core Animation for some reason. It seems that core animation doesn't solely depend on timing functions for easing unfortunately. To fix this we will have to write a custom interpolator.

For now a

[2017-02-24 18:55] wtmoose commented on #122
@buba447 thank you for taking a look! Please try this sample project.

Notice the green blip at the end of the orange color bar animation.

[ColorBar.zip](https://github.com/airbnb/lottie-ios/files/800200/ColorBar.zip)

[2017-02-24 22:24] xinsight opened #125 "Update .podspec to 1.0.5"
I noticed the cocoapod podspec is still at 1.0.4 but the current version is 1.0.5.

Also the `Example/` cocoapod project is still using 1.0.0. Just needs a `pod install`

[2017-02-24 22:27] buba447 commented on #125
The bump to 1.0.5 was solely for NPM purposes. Theres no difference in the cocoa pod code between the two.
Later today we are going to be bumping the version for everything to 1.5 once a few more bug fixes go through!
Thanks for grabbing this but we will close it for now and wait for the release later today :)

[2017-02-24 22:27] #125 closed

[2017-02-24 23:57] buba447 commented on #14
Added!

[2017-02-24 23:57] #14 closed

[2017-02-24 23:57] buba447 commented on #57
Added @eXhausted

[2017-02-24 23:57] #57 closed

[2017-02-24 23:58] #58 closed

[2017-02-24 23:58] #104 closed

[2017-02-25 00:02] buba447 commented on #122
[colorbar.mov.zip](https://github.com/airbnb/lottie-ios/files/800742/colorbar.mov.zip)

Hmmm im not seeing it over here. I wonder if its a version thing. I didn't try running on device since theres no lightning cable around me right now.
Are you seeing it on device too?

[2017-02-25 00:03] buba447 commented on #122
@wtmoose

[2017-02-25 00:04] buba447 commented on #122
Ahhh! I see it on the iOS 6 simulator but not the 7....

[2017-02-25 00:05] buba447 commented on #122
But only on the first loop.
Might be a simulator issue. Gonna try it on device soon as i find a lightning cable.

[2017-02-25 00:51] wtmoose commented on #122
Interesting. I see it on iPhone 7 simulator running Xcode 8.2.1 and on my iPhone 7+ running 10.2.1. It does it on every cycle for me.

[2017-02-25 01:06] wtmoose commented on #122
Here are some additional results:

Simulator iPhone 7: blinks always
Simulator iPhone 7+: blinks first loop
Device iPhone 7+: blinks always

Here is a recording of my iPhone 7+ device:

[ColorBar iPhone 7plus.zip](https://github.com/airbnb/lottie-ios/files/800794/ColorBar.iPhone.7plus.zip)

[2017-02-25 18:28] wtmoose commented on #122
After looking at this further, I think the inconsistency in Simulator is because it drops frames, which sometimes include the blip.

But the good news is I found a workaround by changing the following values on "Shape Layer 4":

<img width="784" alt="screen shot 2017-02-25 at 12 24 16 pm" src="https://cloud.githubusercontent.com/assets/2529176/23333697/935be2d6-fb55-11e6-99ea-881fb382a182.png">

I

[2017-02-25 21:58] yousefahmed opened #129 "[!] Unable to find a specification for `lottie-ios`"
[!] Unable to find a specification for `lottie-ios` every time i try to install lottie

[2017-02-27 07:36] WeiweiYuan810 commented on #14
Running on the device(iOS 10.2) seems to have a problem，images not display，but it's fine on simulator. @buba447

[2017-02-27 13:03] denbec opened #131 "Update Readme to include v1.5 changes"
I just noticed that the section "Currently Unsupport After Effects Features" doesn't reflect the changes of 1.5. I don't know if there are any other parts that need updating.

[2017-02-27 18:24] adenisonafifi opened #132 "Question about bounds clipping"
Hello, thank you for the great library!

I'm interested in using Lottie in a scenario where I will often want the animator to be able to create an animation that extends beyond the bounds of the UIView. Does Lottie allow this? Or will it be necessary to increase the bounds of LOTAnimationView to create this effect?

[2017-02-27 18:57] sanatory opened #133 "Crash in Demo: show transition A"
xcode 8.2.1, iOS: 10.2.1
1. go to Animated Transitions Demo
2. tap show transition A button

ER: do something nice
AR: crash with`-[LOTCompositionLayer addSublayer:toLayerNamed:]: unrecognized selector sent to instance 0x17005d700`

[2017-02-27 19:00] sanatory opened #134 "Crash in Demo: typing other characters"
try to type any other letter, not present in english - any russian character, any letter with umlaut( ö, ê, ...) you'll get ResourceNotFoundException

[2017-02-27 19:08] buba447 commented on #132
LOTAnimationView will clip to its own bounds and scale the animation
according to how the contentMode is set on the view.

On Mon, Feb 27, 2017 at 10:24 AM, Ahmed Denison-Afifi <
notifications@github.com> wrote:

[2017-02-27 19:10] adenisonafifi commented on #132
Thank you for the quick response. Figured clipping to its own bounds would be the case.

[2017-02-27 19:10] #132 closed

[2017-02-27 19:16] buba447 commented on #133
Fixed!

[2017-02-27 19:16] #133 closed

[2017-02-27 19:16] buba447 commented on #131
Good looking out!

[2017-02-27 19:16] #131 closed

[2017-02-27 19:20] buba447 commented on #129
`pod repo update`

[2017-02-27 19:20] #129 closed

[2017-02-27 19:21] buba447 commented on #122
Hmmm. Ill look into this!
Thank you for digging into it!

[2017-02-27 19:29] sanatory commented on #133
it works, but on iPhone6 layout glitches...
[transitions layout glitch.zip](https://github.com/airbnb/lottie-ios/files/804790/transitions.layout.glitch.zip)

[2017-02-27 23:00] benpious opened #135 "Missing platform compatibility imports"
Several files in Lottie's MacCompatibility folder don't import `lotplatformcompat.h`. For some reason this builds fine in the sample project, but in the project I'm working in (which does not use Cocoapods or Carthage) this leads to compilation issues, because `TARGET_OS_IPHONE` and `TARGET_IPHONE_SIMULATOR` aren't defined.

The files are:

Classes/MacCompatability/CADisplayLink.m
Classes/MacCompa

[2017-02-27 23:27] sureMOE opened #136 "Major performance hit on Android when using track mattes out of After Effects"
This seems to be an issue that's relegated to Android playback of JSON files that isn't reproducible on iOS. When using track mattes from After Effects, frame rates just plummet. Not sure what exactly is going on, but wondering if anybody else has seen same issues.

[2017-02-27 23:32] buba447 commented on #136
Can you add this issue over at the Android repo?
We will be able to better track and assist you there. https://github.com/airbnb/lottie-android

[2017-02-27 23:32] #136 closed

[2017-02-27 23:36] buba447 commented on #135
LOTPlayformCompat is used to import the files you have mentioned. It is an umbrella header to import the proper frameworks, or their open source replacements (such as the UIColor)
Seems like the problem is actually that the LOTPlatformCompat isn't properly added in the Lottie project in the root.
Are you importing that project manually or importing the files yourself?

[2017-02-27 23:38] buba447 commented on #135
I just merged a fix into master. Check it out here https://github.com/airbnb/lottie-ios/pull/138
or just pull master :)
Feel free to reopen and comment if it doesn't fix your issue.

[2017-02-27 23:38] #135 closed

[2017-02-27 23:39] buba447 commented on #135
@benpious

[2017-02-27 23:41] buba447 commented on #42
@cgmaier The parent layer would be the LOTAnimationView(*).layer
Im not sure if the animation will play or scrub properly in those scenarios. See this issue https://github.com/airbnb/lottie-ios/issues/30

[2017-02-27 23:41] #42 closed

[2017-02-27 23:42] buba447 commented on #97
Yeah! Sorry about this! We are working on adding Merge Paths! Will mark this as a feature request and update when we add it.

[2017-02-27 23:45] buba447 commented on #120
We are currently working on a mac app for previewing!
I don't have any currently plans to maintain the example iOS browser in the near future.

[2017-02-27 23:45] #120 closed

[2017-02-27 23:53] buba447 commented on #73
@joel-petersen We have added image support :)

[2017-02-28 01:15] benpious commented on #135
Unfortunately, this definitely won't fix the issue I'm having. The project I'm working on uses Buck, which means that we don't actually use the .xcodeproj file included in this repo, but instead generate our own from a BUCK file.

Also, correct me if I'm wrong, but it also looks from the diff like your fix is for an unrelated issue with building for MacOS, I'm actually using Lottie in an iOS app.

[2017-02-28 09:10] lashkhi opened #139 "Animation is not supported"
Hey, I'm not so familiar with After Effects, but I've tried to add an animation from this simple tutorial: https://helpx.adobe.com/premiere-pro/how-to/logo-animation.html?playlist=/ccx/v1/collection/product/after-effects/segment/designer/explevel/beginner/applaunch/orientation/collection.ccx.js  I've removed all the graphics and only text animation is left. I'm selecting my generated JSON file fro

[2017-02-28 10:04] federicocappelli commented on #118
Ups, sorry, the 'self.animationView?.play' completion isn't called, the animation is there only for example.
Environment: iOS 10.2, simulator and iphone 7

[2017-02-28 10:37] federicocappelli commented on #118
Some additional information:

The animation is initialized and presented inside a View controller, and the VC is presented:
[code]

The VC is correctly persisted in memory.

[2017-02-28 11:22] wuyuqiu opened #140 "Smulator can show the animation, but the application show nothing"
{"v":"4.5.8","fr":25,"ip":0,"op":408,"w":1277,"h":800,"ddd":0,"assets":[{"id":"image_0","w":400,"h":120,"u":"images/","p":"img_0.png"},{"id":"image_1","w":1277,"h":800,"u":"images/","p":"img_1.png"}],"layers":[{"ddd":0,"ind":0,"ty":2,"nm":"xing.png","cl":"png","refId":"image_0","ks":{"o":{"a":0,"k":100},"r":{"a":0,"k":0},"p":{"a":1,"k":[{"i":{"x":0.833,"y":0.833},"o":{"x":0.167,"y":0.167},"n":"0p8

[2017-02-28 14:01] Rozariozaro opened #141 "Animation not shown"
I used bodymovin aftereffects plugin to generate .json file. The animation provided on the example projects are working fine I dont know what I am doing wrong.
Json File : [https://www.dropbox.com/s/atvg9jbnpzmicgb/karaoke.json?dl=0](url)

Please help me solve this.

[2017-02-28 18:59] therealsalih commented on #141
Can you attach your AE file?

By the looks of the JSON it looks like you're referencing some png images.

@buba447 is there an issue that shows how to use the image support?

[2017-02-28 20:06] christoph-eero opened #142 "Completion block not called after changing loopAnimation flag"
Use case:  We have animations that have an intro, loop and outro that are supposed to be strung together seamlessly.  Since we cannot loop on parts of a Lottie animation, a workaround was to swap views as animations end.  The middle loop is configured with loopAnimation = true and a completion block.

The block is not called while the animation is looping which is logically consistent and expected

[2017-02-28 22:25] buba447 commented on #139
We don't currently support text layers due to internationalization problems that we haven't solved yet.

[2017-02-28 22:26] buba447 commented on #139
One thing you can do is convert the text layer to a shape layer using the trace function in AE
https://www.premiumbeat.com/blog/quick-tip-converting-text-to-masks-in-after-effects/

@lashkhi

[2017-02-28 22:26] #139 closed

[2017-02-28 22:27] buba447 commented on #140
@wuyuqiu This issue was fixed yesterday afternoon on Master. We haven't bumped the version yet.
If you're using cocoa pods then you can update later today when the version bumps to 1.5.1
or you can pull the latest master.

@wuyuqiu

[2017-02-28 22:27] #140 closed

[2017-02-28 22:28] buba447 commented on #141
There was an issue with image support on iOS that we fixed on master yesterday. I will bump the cocoa pods and carthage version to 1.5.1 later today with the fix!
If you still have issues after that please let me know!

[2017-02-28 22:28] #141 closed

[2017-02-28 22:30] buba447 commented on #142
Ohhh when you set loop animation LOT removes the reference to the completion block. This was to avoid keeping completion blocks forever.

Hmmm i can see that this is a pretty valid use case though.

[2017-02-28 23:44] christoph-eero commented on #142
Yup, I just found the line of code that does it and commented it out.  To avoid keep unused completion blocks, how about only create the _completionDisplayLink if playWithCompletion() was called?

[2017-02-28 23:58] welshm commented on #48
If you set the animationSpeed to -1 it goes in reverse. Or is this not the reversal you want?

[2017-03-01 00:42] valeriyvan commented on #82
not relevant anymore

[2017-03-01 00:42] #82 closed

[2017-03-01 02:02] wuyuqiu commented on #140
This is my demo , [https://pan.baidu.com/s/1pLrZ5Jt](url)

I used cocoa pods   with “pod ‘lottie-ios’ ”

![2017-03-01 09 55 17](https://cloud.githubusercontent.com/assets/12904518/23442838/17f37b22-fe66-11e6-8dca-406a57fa6427.png)

[2017-03-01 03:20] gaopeng1223 opened #145 "My own guide json file has no effect on my mobile phone"
When I put the json demo official runtime inside, give 'Lottie - Example [3264-739481] + [LOTShapeGroup shapeItemWithJSON: frameRate: compBounds:] : Warning: the star is not supported. Convert to vector path?', could you tell me what do you mean, it is said that my json file wrong

[2017-03-01 04:04] dong108 commented on #119
Nice,wish it will be soon

[2017-03-01 09:35] vikram-kumar opened #146 "Layer Styles support for Precomps"
Am trying to add outline stroke for my pre-comp animation using
Layer > Layer Styles > Stroke.

![precomp_layerstyles](https://cloud.githubusercontent.com/assets/3540373/23453924/5577be16-fe90-11e6-9d88-6fb3cbdd4434.png)

[2017-03-01 17:24] therealsalih commented on #145
@gaopeng1223 it means polygons and polystars aren't yet support. See this issue https://github.com/airbnb/lottie-ios/issues/105  for a workaround and also to track polystar support

[2017-03-02 09:11] dark19940411 opened #149 "A strange technique in the implementation of LOTLayerView"
Recently, I've read the source code of lottie-ios through because i was interested in the animation on iOS. I've noticed that lottie parsed the JSON file and wrapped the data into LOTComposition and LOTLayer.  After that, LOTAnimationView will use LOTLayer and LOTComposition to initialize LOTLayerView, which is the place really applying Core Animation. In this process, as a good data supply, you m

[2017-03-02 10:38] colasbd commented on #119
@buba447 What's Precomp?
Do you have any rough idea on when the v2 will be available? (1 week, 1 month, 3 months,...)
Thanks for Lottie!
I guess many developers and designers rely on your great work :+1: !

[2017-03-02 10:45] foulkesjohn opened #150 "Path not showing"
I've been given the following by my designer and it doesn't seem to display in the lottie explorer demo. I've tried stepping through the code to see what the issue but can't really see why it doesn't display. It displays in chrome with the demo exported by bodymoving. Is anyone able to explain what the issue is? I suspect the designer has used an unsupported feature but can't offer any assistance

[2017-03-02 11:27] federicocappelli commented on #118
update:

Presenting the view controller containing the LOTAnimationView modally with:
`self.present(self.splashVC!, animated: true, completion: nil)`
the completion block is called, with:
`self.present(self.splashVC!, animated: false, completion: nil)`
it isn't.

[2017-03-02 11:58] federicocappelli commented on #118
Is definitely some sort of race condition, if I set breakpoints in the LOTAnimationView in the various callers of `_callCompletionIfNecesarry` the majority of the times the completion block is called.

[2017-03-02 16:09] akendall0103 opened #151 "Stoke appearing incorrectly on iOS, but works fine in desktop browser."
Hello! I'm having some problems with an animation I created. My developers tested the JSON file on browser and it looked great. When they tested it in iOS, there was a glitch with the stroke animation. I've attached screenshots of the problem, and the AEP file. Any solves for this? Thanks!
![final result](https://cloud.githubusercontent.com/assets/26144701/23515590/93bccab0-ff38-11e6-8f27-2bdbc20b

[2017-03-02 19:03] xinsight commented on #150
Just tested it with my branch that adds more warnings (#147) and I get lots of:

`+[LOTShapeGroup shapeItemWithJSON:frameRate:compBounds:]: Warning: merge shape is not supported. name: Merge Paths 1`

Could that be the issue?

[2017-03-02 19:10] buba447 commented on #149
Hey! Thank you for the interest in Lottie and for looking through the source code!

First a bit of backstory on how parenting works in after effects vs ios.
In after effects you can parent a layer to another layer. Though they call it parenting, it has a different meaning than what we are use to in the UIKit world. When a layer is parented to another layer it simply follows the transform of the "P

[2017-03-02 19:10] #149 closed

[2017-03-02 19:15] buba447 commented on #151
Ohh it seems here that you are using the Effect 'stroke'
Lottie is built to support the after effects shape layers and not the video effects (since those don't vectorize very well).
To fix this create a shape layer for the checkmark and simply apply a stroke to the check mark.
Ive included an example AEP file that shows the difference.

First, heres the layer implemented the way you are currently

[2017-03-02 19:15] #151 closed

[2017-03-02 19:16] buba447 commented on #150
Yeah thats right we aren't supporting merge shapes yet

[2017-03-02 19:17] buba447 commented on #150
Closing as a duplicate issue

[2017-03-02 19:17] #150 closed

[2017-03-02 19:17] buba447 commented on #146
Marking as a feature request

[2017-03-02 19:18] #145 closed

[2017-03-02 20:44] JALsnipe opened #152 "Are Radial Wipe Effects Supported?"
It does not appear that radial wipe effects are supported.  I understand that I can use a trim path instead of a radial wipe, but radial wipe support would be great to have.

[2017-03-02 21:57] Bogidon opened #157 "Carthage compatibility is somewhat broken"
#### **TL;DR**: Carthage compatibility is somewhat broken. You can temporarily use [this fork](https://github.com/teespring/lottie-ios) if you only need iOS.

Not sure to what extent Carthage isn't working, or exactly why. It has to do with the `#if TARGET_OS_IPHONE || TARGET_IPHONE_SIMULATOR` precompiler flags ([the latter was deprecated in iOS 9](https://github.com/mstg/iOS-full-sdk/blob/master/

[2017-03-03 01:08] dark19940411 commented on #149
This really solves my confusion! Thank you so much!

[2017-03-03 04:28] therealsalih commented on #146
@buba447 Layer Styles arent yet supported in bodymovin btw

[2017-03-03 04:42] therealsalih commented on #152
Radial wipes aren't supported in neither Bodymovin or Lottie. But you can work around it like you said by using a trim path on an elipse
If you make the elipse size and the stroke width the same number it works exactly the same as a radial wipe

![mar-02-2017 20-40-14](https://cloud.githubusercontent.com/assets/5893643/23538523/b0a8539c-ff88-11e6-9ef1-b9f2666e86b6.gif)

[2017-03-03 22:51] JALsnipe opened #159 "Jittery animation with simple trim path"
We have a very simple animation on ellipse shape layer with a trim path set which animates in and out.  On certain devices (iPad Air 2, some older iPads, etc.), we're seeing some jittering in the initial animate-in curve, but not on the animate-out curve.

![out](https://cloud.githubusercontent.com/assets/4513736/23571930/e3618aae-0039-11e7-82ab-a717e6fe15d7.gif)

Animation JSON file:

[code]

Any

[2017-03-04 01:21] benpious opened #160 "Changes to LOTComposition and LOTAnimationView interfaces"
I'd like to propose two changes to Lottie; the first is allowing the user to set the animation on an `LOTAnimationView` after instantiating it, and the second is making a subset of `LOTComposition`'s API public.

There's several elements of `LOTAnimationView` which make it difficult to work with. Firstly, you can't create an `LOTAnimationView` without first creating whatever animation data you wan

[2017-03-04 01:36] benpious opened #161 "LOTAnimationView should catch exceptions from parsing JSON"
`LOTAnimationView.animationFromJSON` performs no validation of the contents of `animationJSON` which can result in an Objective-C Exception being thrown if the objects in the keys it reads aren't the types that it expects.

One doesn't typically expect an exception to be thrown while instantiating a UIView subclass, and this is particularly inconvenient behavior in Swift, given that Swift actually

[2017-03-04 09:32] xyfqldy opened #162 "My .json file not display ."
I am newcomer of AE , Here is my export file ,but it doesn't render,please point my mistake,Grateful.

[cat.json…]()

[2017-03-04 23:55] #152 closed

[2017-03-05 00:12] therealsalih commented on #159
Hi @JALsnipe can you attach your AE file so i can try and reproduce the problem?

[2017-03-05 04:57] JALsnipe commented on #152
I don't see how closing this issue is constructive.  Are there no plans to support an enhancement for radial wipes?

[2017-03-05 05:03] therealsalih commented on #152
I closed it mainly because radial wipe isn't supported by bodymovin. If bodymovin doesn't support it neither can Lottie.

You can track bodymovin support here
https://github.com/bodymovin/bodymovin/issues/268

If Hernan ever decides to support it then we can reopen this issue and figure out how to get it working on iOS & Android

[2017-03-06 13:27] mitulmarsonia opened #165 "Typing 1-10 and other keyboard symbols not supported"
First i want thanks for making supper library.

Is it possible to give input support like -
(1) able to type  number :0 to 9  (2)symbols  as per Keyboard like ? >  $ % ! () etc . ?

Thanks

[2017-03-06 13:34] hardikk opened #166 "How to Enter Number 0 to 9 and symbol like ? $ @ # ! ~ * & ./ < { [ ("
Hi team ,

You done great when we want enter char. (A to Z ).
But kindly guide what when user want to enter Number 0 to 9 and symbol like ? $ @ # ! ~  * &  ./  < { [ ( .

For example .

Hi Jack happy Birthday! You won Lucky(TM) lottery worth $200.99 from DreamWorld(R)  .kindly collect it kindly bring you ID documents with original copy Today before 10:59:59 from our office : www.dreamworld.com/off

[2017-03-06 14:28] JALsnipe commented on #159
@therealsalih here's the file:
[Lifetime_Animated.aep.zip](https://github.com/airbnb/lottie-ios/files/821407/Lifetime_Animated.aep.zip)

[2017-03-06 14:40] akendall0103 commented on #151
Thanks!

[2017-03-06 15:29] federicocappelli commented on #118
I'm continuing my attempts to use lottie, still hoping for help.
Now i've created a UIView named **A** with inside the LOTAnimationView named **B** configured at INIT time. Every method is called on main thread, included .play(completion: but the completion block is never called.

Should I provide example code?

[2017-03-06 16:31] federicocappelli commented on #118
here we go: not working Swift example: [LINK](https://dl.dropboxusercontent.com/u/710772/LottieBUGExample.zip)

The SplashScreenView is almost identical to the one used in my app, only adapted.

[2017-03-07 09:06] young0713 opened #167 "Use image resources in lottie-ios"
Hi, I read your code in the 'LOTLayerView.m' file, there is a method called '- (void)_setImageForAsset' to load image resources in our app used in lottie animation.  But in the method you use '+ (nullable UIImage *)imageNamed:(NSString *)name;' to load image, which means we can only load images in app's main bundle. Is there any way for us to load images in other bundle, or is it possible for us t

[2017-03-07 09:45] young0713 commented on #167
I just reviewed the lottie-android repertory's issues and found a similar issue.
https://github.com/airbnb/lottie-android/issues/177

[2017-03-09 03:22] kiroskirin commented on #122
@wtmoose @buba447 I face the same issue when I use JSON animation with 1 loop, but when extend animation more than 1 loop ( in my case I extend 3 loops like a PinJump) it appear that blinking is gone.

[2017-03-09 15:44] JALsnipe commented on #159
@therealsalih Any updates?  Are you able to reproduce the issue?

[2017-03-09 16:05] nextriot opened #168 "Crash when loading json file - *** -[__NSPlaceholderDictionary initWithObjects:forKeys:count:]: attempt to insert nil object from objects[2]"
Hi guys.

Full disclosure, I downloaded this json file from a third-party website offering lottie json files. However, when I initialise the `LOTAnimationView`, Xcode crashes with the following:

`*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[__NSPlaceholderDictionary initWithObjects:forKeys:count:]: attempt to insert nil object from objects[2]'`

As I

[2017-03-09 16:17] xinsight commented on #168
I just tried it in the lottie example app and it worked fine. Maybe you need a `pod update`?

[2017-03-09 19:12] therealsalih commented on #159
@JALsnipe I couldn't reproduce the issue in any of the simulators, so i'm trying to get my hands on an old iPad today so i can test it

[2017-03-10 17:14] gpeal commented on #166
Dupe of #165

[2017-03-10 17:14] #166 closed

[2017-03-10 17:15] gpeal commented on #162
@xyfqldy Your json file didn't properly attach to your comment.

[2017-03-10 21:45] JALsnipe commented on #159
I'm going to close this.  I think the root of the issue was we had a long running operation on the main thread which was causing the animation to choke.

Thanks for looking into this!

[2017-03-10 21:45] #159 closed

[2017-03-12 17:24] Topener opened #169 "Add Titanium as supported platform"
Appcelerator Titanium has wrapped the module of Lottie for both iOS and Android in `ti.animation`. Links to this module should be added too imho.

https://github.com/m1ga/ti.animation/

[2017-03-12 17:27] #169 closed

[2017-03-13 16:22] petoye opened #170 "Adding animation to UICollectionViewCell/UITableViewCell"
I need to know a way to add a LOTAnimationView to a collectionView prototype and then link it to the collectionViewCell. The animation will play when you press a button on the cell. Any ideas?

[2017-03-13 16:40] xinsight commented on #170
You can add an `LOTAnimationView` to a `UICollectionViewCell` like any other custom view.

[2017-03-13 16:51] petoye commented on #170
I did try doing that but then I don't know how to exactly play the animation

[2017-03-13 18:39] buba447 commented on #165
Sorry the keyboard demo only supports Alpha symbols. It is intended to show some of the things you can do with Lottie.

[2017-03-13 18:39] #165 closed

[2017-03-13 18:40] xinsight commented on #170
Ah, I guess you're using a storyboard. Perhaps someone else can confirm, but It looks like you can't add create `LOTAnimationView`s from interface builder.

Easiest workaround is to create a `UICollectionViewCell` subclass, and then add the animation in code. Something like:

[code]

[2017-03-14 02:17] Stitch-Taotao commented on #162
Sorry,this is my .json file.
[cat.json.zip](https://github.com/airbnb/lottie-ios/files/840086/cat.json.zip)

[2017-03-14 05:02] gpeal commented on #162
@xyfqldy Your animation json references a bunch of images. Is that expected? Are they possibly Illustrator layers?

[2017-03-14 11:01] xyfqldy commented on #162
I had not import images directory. After add images directory , animation work fine.

[2017-03-14 13:43] #162 closed

[2017-03-14 15:11] nunogoncalves opened #171 "Swift - Use of unresolved identifier LOTAnimationView"
Hi,

I'm trying Lottie on a barebones project using CocoaPods.
`pod 'lottie-ios', '1.5.1'`

My bridging file
`#import <Lottie/Lottie.h>`

With this, I don't need to add the import on my swift file (a ViewController). If I comment it, I need the import. Nevertheless the result is the same:

I can't access `LOTAnimationView` but can access `LAAnimationView` though.
<img width="1076" alt="screenshot

[2017-03-15 12:20] tomasbarcys commented on #22
Any update on this? Would love to be able to use Trim Multiple Shapes Individually.

[2017-03-15 12:21] Rozariozaro opened #173 "Animation shown wrong"
I am trying to animate a globe using lottie framework. The animation is done using AfterEffects and exported using bodymovin plugin. I cant seem to get the right output. I dont know where I am going wrong. Please help me resolving this issue..

AEP file: [https://www.dropbox.com/s/8ztpuwkze1ln7cg/globe.aep?dl=0](url)
Json file: [https://www.dropbox.com/s/65baxbhszj99qch/globe.json?dl=0](url)
Expec

[2017-03-15 17:35] gpeal commented on #22
@yozef  @tomasbarcys It's not trivial to get done on Android and iOS but we are working on it :)

[2017-03-16 02:11] jmyers0022 commented on #61
This would be great. I am working on something similar as well.

What I ended up doing for the meantime was layering the two animations, adding them both to the view with the intro animation on top. When the complete callback fires for the intro, I remove its subview and start the looping animation. It worked great with no obvious stutters. You just have to make sure the looping animation transiti

[2017-03-16 02:16] jmyers0022 commented on #171
Does your `Podfile.lock` show version 1.5.1? I ran into the same thing, and it turned out I needed to run a `pod update` to update my local version.

[2017-03-16 09:49] nunogoncalves commented on #171
Yap.
[code]

[2017-03-16 10:08] nunogoncalves commented on #171
So I have updated my Cocoapods gem with
```gem update cocoapods```
to the latest version ```1.2.1.beta.1```
and I got it working... I will never understand these issues.

[2017-03-16 12:41] Achyut-Sagar commented on #171
Is your project name "Lottie" ? If it is, you must change it to something else.You can't call your project with the name of a module.

[2017-03-16 12:44] nunogoncalves commented on #171
No it's not.
I'm going to close this issue, because I zipped my project, sent it to a friend, and he had no trouble whatsoever. I'm guessing some derived data Xcode magic is preventing me from running this. Xcode just kills me... :(

[2017-03-16 12:44] #171 closed

[2017-03-17 03:30] therealsalih commented on #173
Hi @Rozariozaro Your animation contains one feature not currently supported called "Fill Rule" Track the progress on that feature here: https://github.com/airbnb/lottie-ios/issues/43

We're close to getting this done on iOS, just need a little more time

Thanks!

[2017-03-17 12:49] clOudbb commented on #167
I also have this issue, when i use "animationNamed: inBundle" method, bundle is my custom bundle,  or load image and json from server, but lottie log "-[LOTLayerView _setImageForAsset]: Warn: image not found: img_0",  what should i do? plz help~

[2017-03-17 13:43] albertodebortoli commented on #118
+1 here

[2017-03-17 14:20] clOudbb commented on #167
now, I can only modify source code

[2017-03-17 14:55] clOudbb commented on #167
now, I can only modify source code. The following is for reference only.
if you want use "animationNamed: inBundle" method,  you can cache your custom bundle in LOTAnimationCache, this is LOTFrameworkSingleton, go to "_setImageForAsset" methed,
you can like this
`        if (!image) {
            NSBundle *bundle = [LOTAnimationCache sharedCache].bundle;
            NSString *path = [bundle pathFo

[2017-03-17 22:41] Pretz opened #176 "Animation Sequenced Wrong"
Hey All,

We're investigating Lottie for a new feature and found one of our animations renders differently in Lottie and bodymovin. The animation has two components that animate at offset times, but Lottie plays both at the same time.

Here's a zip of the json file we used with Lottie, an HTML file from bodymovin, and the original AEP file:
[Sparkle-Animation-Sample-Lottie.zip](https://github.com/

[2017-03-17 23:20] therealsalih commented on #176
Hi @Pretz right now precomps in Lottie don't yet support offsetting. We'll be working hard to get this working soon, but in the meantime if you just use the layers instead of the precomps you can offset them to your hearts desire

<img width="1478" alt="screen shot 2017-03-17 at 4 16 59 pm" src="https://cloud.githubusercontent.com/assets/5893643/24066139/4c2c77c6-0b2d-11e7-9e5f-16d06e894265.png">

[2017-03-18 23:30] mknippen opened #178 "Star Review Example Missing"
Lottie's sample's show some great things that it can do!

One of my favorites is the star review system. This would be awesome to have as a sample. It would be a perfect example showing an animation reacting to a user's tap.

Is this something you could consider adding to the sample app?

[2017-03-19 02:59] agibson73 commented on #171
I am actually having the same issue at the moment. :(

[2017-03-19 09:28] zhoulornalion opened #179 "Swift import Lottie ,but xcode show:No such module 'Lottie'"
Hi!
I had installed lottie ,and this is the terminal picture:
![2017-03-19 5 04 46](https://cloud.githubusercontent.com/assets/26518676/24079596/77c41b74-0cc6-11e7-89c7-1a8226b688e6.jpg)
but when i type 'import Lottie' in swift,there is a mistake like this:
![2017-03-19 5 21 17](https://cloud.githubusercontent.com/assets/26518676/24079699/e73b2c20-0cc8-11e7-9922-2e8e2446bd60.jpg)
I'm not sure what

[2017-03-19 14:14] xinsight commented on #179
Lottie is written in objc, so you might need to add an objective c bridging header, so that your swift code can "see" Lottie.

Easiest way is to add an objc class, and xcode will prompt to add the bridging header. Then add to the header:

    #import <Lottie/Lottie.h>

[2017-03-19 23:28] gpeal commented on #22
@yozef Can you attach the AE file for either or both of your animations?

[2017-03-20 01:00] gpeal commented on #178
@mknippen We aren't planning on adding the star to our sample app because it's part of the Airbnb product and we don't ship Airbnb product animations with the sample app. Feel free to recreate it though :)

[2017-03-20 01:00] #178 closed

[2017-03-20 01:02] gpeal commented on #173
@Rozariozaro FYI, this works on Android as of 2.0.0-beta1

[2017-03-20 01:03] yozef commented on #22
@gpeal https://www.dropbox.com/s/p131s4evkclbn34/rocket.aep?dl=0

[2017-03-20 01:04] gpeal commented on #176
@Pretz Fyi, this works on Android as of 2.0.0-beta1

[2017-03-20 01:25] gpeal commented on #22
@yozef Thanks. As of 2.0.0-beta2 which I'm going to release today, I was able to get rocket working. However, I had to make one small modification. I moved the stroke outside of shape 1 and shape 2 so that the trim path individually knows about both shapes:
![image](https://cloud.githubusercontent.com/assets/1307745/24086688/7ace3bd2-0cd1-11e7-939e-8aefe31a8b18.png)

[2017-03-20 03:30] zhoulornalion commented on #179
Thank you very much! Your answer is very helpful!

[2017-03-20 06:53] zhoulornalion commented on #179
I had fix this problem, that was my mistake!
Just forgot command+B

[2017-03-20 17:17] #179 closed

[2017-03-20 17:20] #134 closed

[2017-03-20 17:20] #142 closed

[2017-03-20 17:21] #114 closed

[2017-03-20 20:40] chaseacton opened #180 "README.md broken"
Some of the markdown in the readme is broken. This is because GitHub formalized their markdown standards and headings now require a space after "#".

https://github.com/blog/2333-a-formal-spec-for-github-flavored-markdown

![screen shot 2017-03-20 at 1 40 01 pm](https://cloud.githubusercontent.com/assets/3307194/24120692/be8ea3f6-0d72-11e7-8811-8d8b0e4f4c81.png)

[2017-03-21 07:40] jeffreylyg commented on #73
@buba447 hi, is there a document for how to use images? I add images to my project but they can not be showed.

[2017-03-22 00:16] madsonic commented on #180
I believe there is a typo too
`LOTAnimatedView.animationNamed("here_goes_your_json_file_name_without_.json")`
but should be
`LOTAnimationView(name "here_goes_your_json_file_name_without_.json")`

[2017-03-22 03:19] rickytan opened #184 "The animation is delayed"
Hi all,
  have you ever faced this problem, I started the animation immediately after use clicked a button, but the animation was delayed. See the attached file:
![lottie-bug](https://cloud.githubusercontent.com/assets/1250207/24180668/4290248e-0ef1-11e7-8bc9-7cd4e51b5224.gif)

[2017-03-22 12:34] vikram-kumar opened #186 "Import shape layers from Illustrator"
Hi all,
I tried importing shape layers from Illustrator into After effects, checked it in bodymovin render preview and it is showing correct output. But Lottie couldn't render these layers. Please help.

[2017-03-22 18:41] therealsalih commented on #186
@vikram-kumar Can you attach your AE file?

[2017-03-23 03:57] PengfeiWang666 opened #187 "TransitionA and TranstionB have some trouble on screenScale"
It is right on iphone Plus,but others Screen is wrong,seems that vcTransiotion1.json and vcTransiontion2.json have bug

[2017-03-23 04:00] zhaodg opened #188 "Loading animation has blink when animation loops"
Animation blinks just before looping.
[loading.zip](https://github.com/airbnb/lottie-ios/files/863584/loading.zip) It is all right on HTML or Android or iOS Simulator.
My device is iPhone6s iOS9

[2017-03-23 04:03] zhaodg commented on #188
Simulator have same problem, but after 3 or more loops.

[2017-03-23 05:19] zhaodg commented on #188
AE file.
[loading.aep.zip](https://github.com/airbnb/lottie-ios/files/863681/loading.aep.zip)

[2017-03-23 09:27] zhaodg commented on #188
If the loading animation does not have blink, it will have a a moment's pause between the last frame and the first frame.

[2017-03-23 12:39] lukicmarko opened #189 "After Effects file for making custom viewController transitions"
Is there any After Effects file for making custom viewController transitions?
I have found vcTransition1.json file but I can't find After Effects file.

[2017-03-23 14:04] visinigirineeraj opened #190 "Text is not displayed from the after effects animation file"
Hello,

I had created an animation using text and some layers in Adobe After Effects.
I rendered the json file from the animation project using the BodyMovin Plugin. It working fine in the google chrome, safari, morzilla.

But, unfortunately the text is not rendering  in iOS Application. Can you please help us to get this done?

Thanks in Advance
Neeraj

[2017-03-23 19:00] thomasmathew commented on #97
+1 for this enhancement—not having Merge Paths is creating a lot of additional overhead at my company currently.

[2017-03-23 21:44] adenisonafifi commented on #167
I noticed in that linked Android repository a delegate was added to support providing the Image Layer bitmap. Any intention to bring that modification over to the iOS library? I can look into implementing it in a PR if not.

[2017-03-24 14:14] xinsight commented on #190
Did you convert your text to shape vectors?

Post your after effects file and the json and maybe someone can help.

[2017-03-26 12:30] leimingdu commented on #167
Hi all,

after investigate the code, I found the right usage of image for iOS:

in the json file, just replace "id" with the animation name, and images as the picture.

{"assets":[{"id":"image_0","w":800,"h":678,"u":"images/","p":"img_0.png"}]

it works.

[2017-03-26 12:31] leimingdu commented on #73
Hi all,

after investigate the code, I found the right usage of image for iOS:

in the json file, just replace "id" with the animation name, and images as the picture.

{"assets":[{"id":"image_0","w":800,"h":678,"u":"images/","p":"img_0.png"}]

it works.

[2017-03-26 12:32] leimingdu commented on #73
one word more, need also change the "refId":"image_0" as the animation name.

[2017-03-27 11:52] Saik0s commented on #190
I have the same issue, lottie does not show any text on my animations, tried different fonts. The only way to show it - to convert text to the shape.

[2017-03-27 14:40] im9uri opened #193 "Add support for Fill Effect"
First, thank you for this opening up this library!

I was testing several animations, when I came across this warning
[LOTLayer _mapFromJSON:withCompBounds:withFramerate:withAssetGroup:]: Warning: fill effect not supported

Looking at the code, it seems that when initializing LOTLayer, elements starting with "ef" issue the warning above.

However in the README it's stated that fill effect is suppo

[2017-03-27 16:50] therealsalih commented on #193
Hi @im9uri no Effects are supported in Lottie. I'm assuming you're trying to use this fill

![screen shot 2017-03-27 at 9 49 45 am](https://cloud.githubusercontent.com/assets/5893643/24367771/c0ccb5d0-12d2-11e7-97f9-0f5e0d997e3f.png)

The fill the README is speaking of, is the fill within a shape layer

![screen shot 2017-03-27 at 9 49 36 am](https://cloud.githubusercontent.com/assets/5893643/2436

[2017-03-27 18:12] buba447 commented on #189
To make a transition you just need to have a layer in your after effects file that will represent your in view controller and your out view controller. These layers will be used to mask the in and out view controller. They can be solids or shapes or whatever.
When you initialize the transition you simply pass in the string name of the in and out layer as you see it in after effects.

[2017-03-27 18:13] buba447 commented on #187
I see that! thanks for letting us know!

[2017-03-28 14:11] Tough-Guy commented on #67
I'm having the same issue. Any idea how to resolve this?

[2017-03-28 19:13] sureMOE commented on #186
@vikram-kumar

Hey vikram, when you bring files in from Illustrator and make shape layers with them in After Effects,  it will create a lot of garbage groups and merge path usage for unnecessary reasons (it seems to be connected to the artboard's definition in illustrator). Clean up your layers in After Effects and remove the erroneous content and you should be fine.

[2017-03-28 20:32] sureMOE opened #196 "Major issue with trim paths in 1.5.3. Has this been fixed already?"
It seems that on both Android and iOS 1.5.3 was a step backwards. I can't seem to get trim paths to render correctly anymore. I am doing nothing out of the ordinary from what I was doing before the release of 1.5.3. Has this been fixed in 2.0 beta? Is that going to have an official release soon? Thanks!

[2017-03-28 20:41] sureMOE commented on #196
Nevermind, figured this out

[2017-03-28 20:41] #196 closed

[2017-03-29 00:34] robmontesinos commented on #167
@leimingdu  I tried replacing "id" and all images disappeared. I really would like images in my animation. Can you post some sample code please?

[2017-03-29 01:23] leimingdu commented on #167
@robmontesinos
following is the example:
the file name is image_1.json, I replace it's name in "id" and refid，meanwhile， I relate the image name as image_3.png in "p". I put the image_3.png in the project.

by above steps, it works.

Thanks
//Leiming

{"assets":[{"id":"image_1","w":800,"h":678,"u":"images/","p":"img_3.png"}],"layers":[{"ddd":0,"ind":0,"ty":2,"nm":"like shape.png","cl":"png","refId

[2017-03-29 04:26] robmontesinos commented on #167
@leimingdu Thank you for your quick reply. My json file "SlideShow" is far more complex with the animations than the example above. It has seven images plus other effects including text. I'm starting to think that a lot of those items are not supported with this library.  I don't see my text, images are showing up upside down, etc. I am experimenting with an animated gif to see if that works or if

[2017-03-29 08:59] jasperpogi02 opened #197 "2 Duplicate Symbol For Architecture x86_64"
I always get this error whenever I add a library in Podfile then pod install it

![screen shot 2017-03-29 at 4 54 57 pm](https://cloud.githubusercontent.com/assets/5517897/24446639/d2f6f840-14a0-11e7-87c4-172b7a953469.png)

I use Xcode 8.3 | Swift 3 | Cocoapods
and this is my podFile

target 'flyakeed' do

    pod 'lottie-ios'

    pod 'FSCalendar'

    pod 'Alamofire', '~> 4.3'

    pod 'SwiftyJS

[2017-03-29 09:38] jasperpogi02 commented on #197
Right now I fixed this issue by commenting out the pod 'lottie-ios' and pod install and putting it back again then pod install :)

But I don't want to encounter this issue again when I add new pods. hope you can help me with this :)

[2017-03-29 14:33] leimingdu commented on #167
@robmontesinos I think at this moment, lottie did not support some more fancy animation. I get such information from my colleague who is try do some fancy animation but failed. :(

[2017-03-30 08:45] focuspirit opened #198 "after addSubview toLayerNamed, layer position will shift down"
like doc:
[code]

[2017-03-30 18:38] reddigfabian commented on #119
Looks like the latest Android version for Lottie has this support. Any info on whether or not the iOS version is caught up to that?

[2017-03-31 07:46] visinigirineeraj commented on #190
But I  want to make the content as dynamic, which will change in real time.
Can you please help me in doing Animations with Dynamic Content ?

Thanks in Advance

[2017-04-01 09:22] HWSTS opened #200 "Question : Is it possible to load remote json files into lottie lib ?"
Hi,

firstly thank you for this great work its make apps animations become amazing .

I just wonder if i have stored some json files in app backend ex : firebase  storage , can i load this animation into my app via file URL or i have to download it first ?
any explanation would be much appreciated .

Thank you again

[2017-04-01 23:39] fabionuno commented on #200
@HWSTS you can load from an URL.

[code]

[2017-04-02 10:13] HWSTS commented on #200
well this is great, sorry i know this part related to android but how to load the same file in android ?

[2017-04-03 04:08] paulsumit1993 commented on #167
@leimingdu I tried your fix, but it doesn't seem to work
JSON file name: loadingcafe.json
image name: img_0.png

`{"assets":[{"id":"loadingcafe","w":2000,"h":2000,"u":"images/","p":"img_0.png"}],"layers":[{"ddd":1,"ind":0,"ty":2,"nm":"logoloading.png","cl":"png","refId":"loadingcafe","ks":{"o":{"k":100},"rx":{"k":0},"ry":{"k":[{"i":{"x":[0.833],"y":[0.833]},"o":{"x":[0.167],"y":[0.167]},"n":["0p83

[2017-04-03 13:24] jansemka opened #201 "Boolean Operations on vector paths doesn't work"
I imported an illustrator file and converted the font into vector paths. Boolean operations on forms doesn't work. You can see it on the letters for example: O, P, A and so on. This also happens if i convert fonts created within After Effects. On lottiefiles.com the animation works. So there is an issue with the iOS Framework. I didn't test it on Android. At the moment i duplicate every path and c

[2017-04-03 13:56] jansemka commented on #201
Just found out that this issue has already be commited, so please close.

[2017-04-03 13:56] #201 closed

[2017-04-03 15:45] robmontesinos commented on #167
@leimingdu Thank you. I wound up using an animated gif maker on the After Effects video - not as smooth as animating 2D objects but it's ok for now

[2017-04-03 16:38] kostimarko opened #202 "Trim Paths appearing when they aren't suppose to."
What I see:
![screen shot 2017-04-03 at 11 30 21 am](https://cloud.githubusercontent.com/assets/7833020/24619838/119fed2c-1861-11e7-8725-bf1111b701d8.png)

What I expect:
![screen shot 2017-04-03 at 11 31 56 am](https://cloud.githubusercontent.com/assets/7833020/24619877/2f64e54c-1861-11e7-8678-23218d8ba854.png)

There seems to be something wrong with the Y. There is a dot underneath that doesn't

[2017-04-03 20:22] jamesmato opened #203 "Animation proportions distorted"
So I have an animation we're intending to use as a loading spinner. However the size and positions of layers gets messed up when we actually implement the json file.

[What it looks like with lottie](https://www.dropbox.com/s/tit9nt0yunbyydz/Logo%20Loop%20NOT%20RIGHT.mov?dl=0)

[What it _should_ look like](https://www.dropbox.com/s/28oo1e7cybottdr/Logo_Loop_RED.mp4?dl=0)

I've removed expressions

[2017-04-04 12:14] maurovc commented on #184
+1

[2017-04-04 19:31] chrisfarrell commented on #97
+1

[2017-04-04 21:58] tomgilder opened #206 "Feature request: replace animation layer with UIView"
I want to incorporate some native UI controls into an animation, to have them pop and scale out of an animation and finish at full size.

Would it be possible to replace an animation layer with a UIView, having captured it with `snapshot​View​After​Screen​Updates:`?

Thank you for an amazing library 👍

[2017-04-06 03:44] boemekeld commented on #119
Any news? Can I have acess to Precomp?

[2017-04-06 20:53] BASEDGODBRIAN commented on #97
+1

[2017-04-07 07:34] liuzhiyi1992 opened #207 "how can i assigning res Image custom path for Animation?"
how can i assigning .json and res image in custom filepath outsize project bundle，like app document path.

[2017-04-07 08:38] SilenceZhou opened #208 "Bug - Animated Transitions Demo"
Why is the height and width of the animation changed when it comes to the animation?

![Uploading 图片.png…]()

[2017-04-07 08:40] SilenceZhou commented on #208
![Uploading Snip20170407_2.png…]()

[2017-04-07 08:40] SilenceZhou commented on #208
Look forward to your reply

[2017-04-07 08:43] SilenceZhou commented on #208
![snip20170407_2](https://cloud.githubusercontent.com/assets/9305458/24792572/368c4cae-1bb1-11e7-87a5-a67825e5991c.png)

[2017-04-07 08:43] SilenceZhou commented on #208
Look forward to your reply

[2017-04-10 07:50] darkesfang commented on #208
Hi, I found that after controller transition animation, the bounds of presented view remained unchanged(not matched with screen). It might be the same issue as this one.

[2017-04-10 12:37] im9uri commented on #193
thanks for the help @therealsalih . Changing fill effect with fill within a shape layer did the necessary trick.

[2017-04-10 12:37] #193 closed

[2017-04-10 18:30] mradzinski commented on #119
Any news on this one @buba447? We are currently developing a project and would be great (and a life saver) to integrate Lottie in it :blush:

[2017-04-10 19:29] lucasnachtigall commented on #119
Any news on the release ?

[2017-04-11 02:22] im9uri opened #211 "Alternative to group effects?"
My understanding is that no effects are supported in Lottie.
Is there an alternative to group effects, that achieves the same result?

[2017-04-11 07:32] Cellane opened #212 "Animation doesn't finish completely/last few frames are missing"
I'm trying to integrate Lottie into my project with a Bodymovin JSON file I got from our designer and while the animation starts as expected, it doesn't actually ever reach its final state – to my unexperienced eye, it looks like last 3-5 frames are missing and I'm not entirely sure why. When I check the demo HTML file Bodymovin generated, the animation plays and loops just fine which leads me to

[2017-04-11 09:23] EvsenevDev opened #213 "Can you open for read LOTComposition.h"
I want load Model from JSON and read this fields. Can you open this model for read?

[2017-04-11 11:00] YugandharVadlamudi commented on #21
This is not working i placed .json it is throughing exception

[2017-04-12 18:57] mthole opened #214 "Lottie iOS rendering appears pixelated"
I'm experimenting with using Lottie for the first time, and am pretty excited about it. Right now I'm using it to implement a simple bouncing map marker animation, and the iOS rendering is appearing more pixelated than expected:

**iOS rendering:**
![image](https://cloud.githubusercontent.com/assets/11229/24973803/ff472044-1f74-11e7-8e17-3f67a4c5be64.png)
(this is rendering at 64x64pt, per the JSO

[2017-04-13 07:23] radislavcrechet opened #215 "Animation of Lottie view layer's is not working correctly"
Firstly, I would like to say that Your library is really magnificent. Unfortunately I have an issue but I believe that You can help me with it. I try to animate position and bounds of Lottie view's layer but it does not work correctly. Layer changes this properties without animation in this case.

[code]

[2017-04-13 09:26] stephenkopylov commented on #119
Waitin for it!

[2017-04-13 18:26] cupojoe opened #217 "Images and shapes show on first frame when the first frame is blank"
If your animation has an empty frame at the start, when the LOTAnimationView gets added to the view it will show all shapes for one frame before positioning them correctly outside of the viewport.

All shapes and images should be added at their correct frames or should be invisibles when adding them until they get positioned correctly.

[2017-04-17 06:32] vikram-kumar commented on #186
Thanks sureMOE. The problem is solved.

[2017-04-17 06:32] #186 closed

[2017-04-17 06:51] vikram-kumar opened #218 "Is there any way to achieve this effect ?"
Hi,
Am trying to achieve this outer glow effect on irregular shapes.
<img width="425" alt="outline" src="https://cloud.githubusercontent.com/assets/3540373/25081424/f13f0bf0-2367-11e7-9a39-2c772d71a119.png">

[2017-04-17 17:35] boemekeld commented on #119
any news, please?

[2017-04-18 13:59] KarlosQ opened #219 "If I try to loop, it blinks"
In iOS the animations behave erratically when trying to loop the animations. In Android they work fine but in iOS they play static bits between each loop iteration and blink every time. In other words the moving elements in the animation disappear each loop iteration, while the static element do not blink.

In issue #122 the solution is change ip to 1 and st to 1 but if I do this in all JSON the a

[2017-04-18 17:47] PavelLaptev commented on #122
I have the same problem. Changing `ip` don't work for me.

[2017-04-21 02:15] Weijay commented on #212
Same here. I downloaded [progree-success](http://www.lottiefiles.com/71-progress-success) from Lottiesfile.com to tried. However, when I do animation in my project, it just missing the last part of the animation.

[2017-04-21 13:29] bujordet commented on #73
Do you have an working example, @leimingdu ?
So we can see the different?

[2017-04-21 13:32] leimingdu commented on #73
Yes, for example.

[2017-04-21 13:32] leimingdu commented on #73
{"assets":[{"id":"image_0","w":296,"h":162,"u":"images/","p":"guide_addtext_popup.png"},{"id":"image_1","w":148,"h":126,"u":"images/","p":"guide_addtext_hand.png"}],"layers":[{"ddd":0,"ind":0,"ty":2,"nm":"text pop up@2x.png","cl":"png","refId":"image_0","ks":{"o":{"k":[{"i":{"x":[0.833],"y":[0.833]},"o":{"x":[0.167],"y":[0.167]},"n":["0p833_0p833_0p167_0p167"],"t":95,"s":[0],"e":[100]},{"t":102}]}

[2017-04-21 19:50] teichhorstGB commented on #214
This is happening to us as well.  On Android and web browsers it looks great.  iOS has pixelation and it doesn't look so great.

[2017-04-24 10:38] mihaelaplesa opened #220 "Animation is not rendered correctly"
Hi,
I've exported the JSON using Bodymovin.
In web the animation is rendered perfectly but when try to load it on iOS it not the correct animation.
I've attached the web animation+json and a iOS screenshot.
[test.zip](https://github.com/airbnb/lottie-ios/files/951419/test.zip)
![iosanimation](https://cloud.githubusercontent.com/assets/27953151/25333517/329a79be-28f3-11e7-9960-066cc8bfd5a2.png)

[2017-04-24 10:57] purusharthchandrayan opened #221 "No animation rendered"
Hi, I am trying to use json file exported using Bodymovin plugin(Aftereffects). However, there was no animation, in fact, the image used in the animation was not appeared properly.
[ABC.zip](https://github.com/airbnb/lottie-ios/files/951455/ABC.zip)

[2017-04-24 16:24] mitjaeichhorn opened #222 "iOS error: "vertex point out of bounds""
Hello!

you are our last hope! The whole Lottie idea is great and long needed, and we got it working on Android, but iOS is taking days to fix and is still crashing...
It gives everytime the same Error: vertex point out of bounds.

Does some has and idea what is can be? We event took the sample AfterEffects file from https://github.com/airbnb/lottie-android/tree/master/After%20Effects%20Samples an

[2017-04-25 12:46] Kirow commented on #218
same question here. need shadow/glow animation effect.

[2017-04-26 05:11] aquarchitect commented on #222
@mitjaeichhorn I had a similar problem and resolved it by trimming out-of-bounds geometries in AE before exporting.

[2017-04-28 07:14] upworldcjw commented on #184
+1, after i playing short movie, the lottie animation is delay.  the following  log has some problem????

- (BOOL)animationIsPlaying {
  if (_animationIsPlaying && !_loopAnimation && _layer) {
    CFTimeInterval localTime = [_layer convertTime:CACurrentMediaTime() fromLayer:nil];
    NSLog(@"CFTimeInterval = %f",localTime);

2017-04-28 15:08:27.838266 inke[18132:5888874] CFTimeInterval = 0.000000

[2017-04-28 16:40] sureMOE opened #224 "What does this Xcode crash mean?"
I am trying to trouble shoot the problem I am having here, but I can't decipher what's going on. I have tried a number of things in After Effects, but it doesn't help. Also, for some reason this file works on Android player 2.0.0 beta4. Any ideas?

2017-04-28 09:31:10.095802 Lottie-Example[2189:808224] *** Assertion failure in -[LOTAnimatableNumberValue _buildAnimationForKeyframes:], /Users/schurm

[2017-04-28 22:52] arush commented on #218
+1

[2017-04-29 08:46] AntonicaAlexandru commented on #56
How could i achieve this in iOS ?

[2017-04-30 06:24] AmirShalev opened #225 "iOS bug - Animation on iOS missing some shape layers"
My name is Amir Shalev and I a part of AutoCAD mobile UX team in Tel Aviv.

I would like to tell you that your work is AWESOME! Keep it going! Thanks a lot for this cool feature.
I just started exploring this awesome plugin for After Effects, and I am having a small problem with viewing all of my shape layers.

I’m using both. On Android, it seems to work, but on iOS, the triangle disappears on th

[2017-05-01 15:13] mikekaminskyUX opened #226 "Precomps always start at zero and play before being visible"
When playing back an animation, any precomps that are used (for repeating elements) will start playing immediately, so that by the time the animation reaches that point in the timeline the object will appear only showing the last frame.

This behavior did not appear when using the Lottie Android test app.

[2017-05-01 18:18] hendyevan opened #227 "LOTAnimation not centering in view"
Hi, I'm trying to load animation which i take from Lottie library.
The animation load successfully, but it did not placed correctly inside my view.
`let animationView = LOTAnimationView(name: "servishero_loading")`
`animationView?.loopAnimation = true`
`animationView?.contentMode = .scaleAspectFit`
`self.loadingAnimationView.addSubview(animationView!)`

My view are the red square.
The animation re

[2017-05-02 02:14] charliejl28 commented on #227
+1 i'm seeing similar issues with `.scaleAspectFit`. for us, the animation is sometimes bottom aligned and sometimes has part of its bottom clipped. it doesn't always seem to be scaling to _fit_ (neither the height nor width are max of its container)

[2017-05-02 15:26] pairmu opened #228 "input emoji crash"
i know emoji not supported for animated keyboard，but when i cant control myself input emoji crazy, it result a crash，uhh，it may be not an unimportant issue

[2017-05-03 02:29] xuran commented on #225
我也遇到过这样的额问题，并且发现字体重叠

[2017-05-03 17:32] JoeSchofield commented on #97
+1

[2017-05-03 18:20] svenultimate commented on #97
Hey guys, I made a screen recording (tutorial?) of the workaround I came up with. Hope it helps. Hella props to the guys who gave us Lottie and Bodymovin!

https://youtu.be/FE7n6cJKlto

[2017-05-03 20:56] kostimarko commented on #202
This can be closed. The issue was with the After Effects file and the way the letters were drawn.

[2017-05-03 20:56] #202 closed

[2017-05-04 09:14] mangochen commented on #56
Another issue here. When animationView is subview of tableViewCell's contentView and I scroll the tableview  slowly ,  the animationProgress setting to end  not work.

[2017-05-05 08:17] loulouchab opened #231 "Issue using multiple trim path"
Hello team,
I have an issue with my animation/export and I don't understand why... Is it from the AE file or the export ?
This is the animation I want :
![anim-logo](https://cloud.githubusercontent.com/assets/28431447/25738118/a3d06838-317b-11e7-87e9-0b26ace9723a.gif)

And this is the animation I have
![animation-1](https://cloud.githubusercontent.com/assets/28431447/25738133/b89f2434-317b-11e7-80

[2017-05-05 18:44] geoffgerman opened #232 "Issue with Animation Rendering"
So, running into some issues with rendering art in the JSON file here. Our AE file is setup with Shape layers and trim paths and we're running into art on layers staying present even after they are completed on the timeline (explosions). Also, having an issue where the "THANKS" type has the counter (triangle in the middle of A) not knocking out. Any help you could provide would be great. : )
[02 W

[2017-05-06 11:38] iDevo commented on #208
Same here using the sample lines of code.
Does anyone knows a workaround for this glitch?

Thanks in advance!

`#pragma mark -- View Controller Transitioning

- (id<UIViewControllerAnimatedTransitioning>)animationControllerForPresentedController:(UIViewController *)presented
                                                                  presentingController:(UIViewController *)presenting

[2017-05-08 10:35] yanchaoGan commented on #227
self.loadingAnimationView.addSubview(animationView!)
if you want animationView 's frame  ==  loadingAnimationView 's bounds.
please insert  animationView.frame = loadingView.bounds()  above code

[2017-05-08 10:51] yanchaoGan opened #233 "[guide] how to custom ui, eg: txt"
how can i change animate layer 's txt ， just for dynamic update。
i cannot find any code involve CATextLayer,  if do something like this, may i change lib code?

[2017-05-08 10:54] yanchaoGan commented on #207
just like this.

- (LOTAnimationView *)animateView
{
    if (!_animateView) {

        NSString *jsonFilePath = your json file path;
        NSData *data = [NSData dataWithContentsOfFile:jsonFilePath];
        NSDictionary *jsonDic = [NSJSONSerialization JSONObjectWithData:data options:NSJSONReadingMutableLeaves error:nil];

        LOTAnimationView  *animate = [LOTAnimationView  animationFromJSON

[2017-05-08 11:36] jorgeneidem opened #234 "Negative rotation combined with negative scale not working"
If you flip a shape horizontally in After Effects by setting the scale x-value to negative, and then try to animate a negative rotation (-180° or -1x), it will not rotate in the expected direction on iOS (it will revert to a positive rotation).

Negative rotation is working on its own. Negative scale x-value is working on its own. But the combination does not work.

This problem does not exist in

[2017-05-08 14:16] jorgeneidem commented on #224
Did you at any point use Keyframe Assistant to time-reverse keyframes? That gave me a similar error message.

[2017-05-08 18:42] sureMOE commented on #224
Wow, I bet I totally did...I use that ALL the time. Is that a known bug?

[2017-05-09 06:08] jorgeneidem commented on #224
Maybe we should create a more specific issue on that. In general reversing/flipping/mirroring using negative values seem to cause some trouble.

[2017-05-09 13:05] brianliebler commented on #225
I'm having the same issue. The rendered animation is a square in our iOS app when it should have three triangles as part of the icon. Please advise.

[2017-05-09 13:27] brianliebler commented on #97
Any updates on when the Merged Paths feature will be added?

[2017-05-09 21:45] LaughingJack opened #235 "How to clear LOTAnimationCache"
What is the suggested mechanism for clearing the animation cache? I currently have a pair of somewhat large animations that I only need to run once and don't want to keep around from memory management purposes. How it it suggested to clear out the cache and free up our run time memory?

[2017-05-10 01:05] mikegarza commented on #184
I've been seeing the same issue. I don't see any issues the first time an animation is played, but only when the same animation is played multiple times.

As an example, my app is using Lottie as an intro animation. When a user logs out and exits the logout screen, the view controller containing the LOTAnimationView is brought on screen again. The animation has its duration set back to 0 and then

[2017-05-10 14:48] jorgeneidem commented on #234
tl;dr
![ezgif-2-5ae40219f5](https://cloud.githubusercontent.com/assets/4020663/25904457/9747b616-359f-11e7-969f-fe26af5a2924.gif)

[2017-05-10 15:05] Kymer commented on #225
I have experienced the same issue (under certain conditions). Really odd.

@AmirShalev I'm not seeing the JSON file. I can reliably replicated the issue in a small iOS project, but can't share the specific animation. Want to give it a shot with your animation.

[2017-05-15 10:00] Johennes opened #236 "Add option to replace colors"
The Android SDK (https://github.com/airbnb/lottie-android) seems to have support for replacing colors in an animation through filters. Would be nice to get the same functionality for the iOS SDK. One use case would be if you want to use the same animation in several different apps with distinct branding and colors. Currently this can only be achieved by having duplicated JSONs (overhead) or hot-sw

[2017-05-15 13:59] fnazrala commented on #167
https://github.com/airbnb/lottie-ios/pull/210

[2017-05-15 18:22] kevinsan commented on #184
I've been seeing the same issue. Login in a new count.

[2017-05-15 18:24] tutuin commented on #184
tuwaer@qq.com

[2017-05-16 16:31] iNicson commented on #162
did you mean you dragged the images folder to your project? I did the same but it is not loading

[2017-05-17 11:18] AdamMak opened #237 "Animation works on old version of Lottie, but not new version"
I have recently added Lottie to my project as would like to use some animations in my app. However I the animation will not load properly, I have an animation where a white circle appears and an icon appears in the middle before disappearing.

On the old version of the framework downloaded from here

https://github.com/airbnb/lottie-ios

It shows you add the animation with this code

If I download

[2017-05-17 12:19] AdamMak commented on #237
I managed to get this working by downloading the zip file of Lottie which seems to be a different version than the one installed via cocoapods. So basically if you want to make sure your animation works, download the zip file from Github and add manually add Lottie to your project.

Does anyone know why the version downloaded via cocoapods does not work properly?

[2017-05-18 13:38] Dreadrik commented on #224
I have the same issue. Animation works fine on Android, but I get this assert on iOS.

[2017-05-18 13:48] Dreadrik commented on #237
It is a bug that has been fixed in master, but it has not yet been tagged in a release.
Can we please have a new CocoaPods release?

[2017-05-20 11:29] Mushrankhan opened #240 "Problem in rendering combined or merge paths when shape is filled."
![screen shot 2017-05-20 at 4 57 50 pm](https://cloud.githubusercontent.com/assets/16305446/26275431/a2ef2d06-3d7d-11e7-96f2-1ef60469e075.png)

Anyone have solution !!

[2017-05-21 11:47] Jack--Ma opened #241 "When draw a round shape, I find an odd phenomenon!"
Hello lottie-iOS developers,
Lottie-iOS is really fantastic, But In using it, with the same JSON file, using in android or web is OK, but when I draw in iOS, I find the circle isn't round...Just like the pic1. Could find the background layer's left and right have some flaws, so as the red circle and the blue circle.
![21b43130-4de6-4ae1-b82f-24ba5489f057](https://cloud.githubusercontent.com/assets

[2017-05-22 08:46] loulouchab commented on #231
Hello again,

Do you have any idea ?
Thank you very much

[2017-05-22 14:33] alaraKalama commented on #212
If your designer makes the rotation and position transformation directly on the rectangle shape transform properties (instead of the shape layer transform) it should work fine. I am uploading the changed project.

[filter-to-x-button.zip](https://github.com/airbnb/lottie-ios/files/1019156/filter-to-x-button.zip)

[2017-05-22 21:11] adilanchian commented on #224
Any update on this issue? Just received this same error today as well.

[2017-05-23 11:16] Cellane commented on #212
Thank you so much for your assistance! I'll pass the message back to our designers but unfortunately due to time constraints, I had to settle for different method – simple and stupid `UIImageView`'s `animationImages`.

[2017-05-23 12:36] qxuewei opened #243 "您好, 我们的UI设计师在AE文件用了图层透明度和外发光效果, 导致iOS播放动画闪屏"
您好, 我们的UI设计师在AE文件用了图层透明度和外发光效果, 生成json文件, 导致iOS播放动画闪屏,请问有什么解决方案吗? 谢谢!

Hello, our UI designer in the AE file with a layer transparency and luminous effect, resulting in iOS playback animation splash screen. Thank you very much!

[2017-05-24 08:36] jjc235 commented on #226
Hi Mike, have you found a fix for this?  I am seeing the same behaviour.

[2017-05-24 13:10] mikekaminskyUX commented on #226
No resolution, we have had to manually adjust every pre-comp into it's own composition that starts at 0. Results in a ~50% larger file so really hoping for a new build soon. The Android 2.0 build correctly addresses this.

[2017-05-25 02:02] Kingson opened #244 "Warning: group effect not supported"
I tried lottie on iOS device, but report warning to me, detail info below:
`2017-05-25 09:52:35.808 LottieDemo[1165:49593] -[LOTLayer _mapFromJSON:withCompBounds:withFramerate:withAssetGroup:]: Warning: group effect not supported: ADBE Numbers2 / 编号`
Any help to me, Thanks!

[2017-05-27 02:24] dong108 commented on #243
外发光不能用吧

[2017-05-27 03:44] 304164084 opened #246 "hello, why some .json file can not play ,even crash"
i download some .json file in www.lottiefiles.com. most of them can't play or show in my ipad. even thouth get crash. here some file address <https://www.lottiefiles.com/128-around-the-world, https://www.lottiefiles.com/91-mailsent>, you can try it . here is my code
`LAAnimationView *animation = [LAAnimationView animationNamed:@"Plane.json"];
    animation.frame = CGRectMake(0, 100, [UIScreen main

[2017-05-27 09:36] ShaunShi opened #247 "Bug while rendering shape layers"
Hi team,
Thank you very much for your great job, and I'm so glad that my team are able to try out lottie animations in native iOS app.
I am an interaction designer and my team is working on a Chinese travelling App called "TongCheng". When we were testing on lottie, we found some issues and may need your help.
This is a loading animation on AE. I mainly get it work by trimming path of shape layers

[2017-05-31 15:59] AlexDM0 commented on #225
I also have this issue. My AE file is made out of 5 instances of the ball, 5 instances of the bar, precomposed into the animation of the logo. The demo that I export from bodymovin looks fine in the HTML viewer. It's only animated scales, rotations and positions. Nothing complicated.

On both the simulator and the device it looks like this:
https://github.com/crownstone/CrownstoneApp/blob/lottie/j

[2017-06-01 08:33] CHPisces commented on #244
[LOTLayer _mapFromJSON:withCompBounds:withFramerate:withAssetGroup:]: Warning: fill effect not supported: ADBE Fill / 填充

[2017-06-01 08:37] liujianan901228 opened #248 "Why IOS7 not support but still normal rendering and play"
The library Support ios8 and above, but I use IOS7  phone can still normal rendering and play, could you tell me if this library is used in the engineering of IOS7 will have what problem?

[2017-06-01 22:18] riddhima opened #249 "Crashes while using JSON below. Same json works on android app but crashes on iOS."
https://gist.github.com/riddhima/35dc23cd7a86cad27931690e2d75d338

[2017-06-05 03:59] losifer opened #250 "Lottie support for AE Repeater"
Super excited about using Lottie for the first time with my own files. Added into Xcode only to see that the shape repeater support doesn't transfer. I noticed this was a request in the Android repo so I thought I'd add to iOS.

Great stuff though... whenever you can, honestly y'all are doing a lot already!

Thanks again.
Los

[2017-06-05 17:12] jjc235 opened #251 "Only works if Loop is enabled"
I've found that animations only work when looping is enabled.  Once you turn it off, or try to set Progress etc., it just freezes (seems like underlying animationState is change however)

Any ideas?

[2017-06-06 22:00] jondwillis commented on #237
If you can't wait:

```pod 'lottie-iost', :git => 'https://github.com/airbnb/lottie-ios.git'```

[2017-06-07 05:31] ShaunShi commented on #247
Hello, is there anyone who can look into this and help me out? Thank you.

[2017-06-07 07:37] XanderXu opened #252 "after push to a tableViewController then come back,the animationProgress is 1"
play first,
then if I  push to a tableViewController then come back,the animation can't play because animationProgress is still 1,and call the completionHandle immedetaly.
if I have a tabBarComtroller and switch to  a tableViewController then come back, the animation can't play either.
so I have to set animationProgress = 0 everytime before call play.
but if I don't jump to other controller, when

[2017-06-08 03:55] NemoAir commented on #212
My animation was about 2s duration,and loop three times use four image layers.
it seems like all layers played animation at the start frame, some should play at 1.0s,1.5s,but they all played at the start point.
so the animation look like stoped about 1s duration when next loop play.
I checked the code,all animation layers number、animation layer duration、image aseets are correct.
this ios library s

[2017-06-08 13:33] Alexi-Pourret commented on #97
Still waiting for some updates about the merge paths feature, anyone ?

[2017-06-08 19:40] samiam2017 commented on #222
@aquarchitect can you go into more detail of trimming out-of-bounds geometries. When you look at lottie project samples there are a number of projects where shape layers travel outside of the canvas.

I'm running into the same problem as @mitjaeichhorn where I'm getting the "vertex point out of bounds" error when the devs try to implement the animation. The strange thing is that the animation play

[2017-06-09 09:02] LucasGrv commented on #186
@sureMOE

Hey ! :)
What do you mean by " Clean up your layers in After Effects " ? What should I do ?

[2017-06-09 16:18] therealsalih commented on #219
Hi! I took a look at your AE file. Right now in Lottie-iOS, precomps can't be offset in time. So the way you have that second layer offset wont perform correctly in the animation
![image](https://user-images.githubusercontent.com/5893643/26984330-d4025da2-4cf3-11e7-8556-d6551735d602.png)

Until we get that feature fixed, the workaround for now is to just bring those precomp elements into your main

[2017-06-09 16:18] therealsalih commented on #249
Hi! Can you send the AE file so we can get a look at whats under the hood?

[2017-06-09 16:27] therealsalih commented on #231
Hi! I took a look at your AE file and youre using the stroke and fill effects. At the moment Lottie does not support any effects

![image](https://user-images.githubusercontent.com/5893643/26984668-226e0d96-4cf5-11e7-8e7b-9be694b0615b.png)

You can however achieve the exact same effect using a stroke and trim paths within a shape layer and then using your original shape as a matte

![image](https:

[2017-06-09 16:29] therealsalih commented on #226
We're working to get that fixed. You can also follow the status of that change at https://github.com/airbnb/lottie-ios/issues/176

[2017-06-09 17:22] riddhima commented on #249
https://www.dropbox.com/s/6swt0q3x4lwnv4y/calendar-animation%20%281%29.aep?dl=0

[2017-06-09 17:31] sureMOE commented on #186
@LucasGrv

When you bring Illustrator files into After Effects, the first thing you need to look for is right clicking on your Illustrator layers (bringing up the contextual menu) and you are looking for a menu option called "Create Shape from Vector Layers". Once you have chosen that, you will see your Illustrator layers hidden and it will have created shape layers in their place. When you get to

[2017-06-10 17:29] Suka1215 opened #253 "Stop animation"
I may be missing something, but how do you stop and animation once it starts?

[2017-06-11 08:23] daneial opened #254 "My Shapes Messed Up"
Hi
I create animation in AE and exported with bodymovin and now have json file.
but i have problem.
when i use it in [lottiefiles](https://www.lottiefiles.com/) it's worked well but when my iOs coder use it, some shapes messed up. like this:
![about](https://user-images.githubusercontent.com/20255843/27009419-07e635a2-4ea3-11e7-8be9-ff2da33d77d9.png)(I tested with [LottiePreview](https://www.lotti

[2017-06-12 04:09] daneial commented on #254
I Contact with Lottie support and find out problem is Lottei.
They said "if you use fill rules, Lottei Only support it in Android now but we hope to add support for it on iOS soon."

I use fill rules in illustrator. I changed it to stroke and problem solved!

[2017-06-12 07:10] #254 closed

[2017-06-12 08:30] #243 closed

[2017-06-12 12:03] KarlosQ commented on #219
Thanks @therealsalih ! Now animations in loop works fine in iOS 👍 👍

[2017-06-12 12:03] #219 closed

[2017-06-12 14:41] LucasGrv commented on #186
Thank you @sureMOE ! It works :)

[2017-06-12 15:32] jwarrent commented on #184
We're having the same problem.  Basically we're using Lottie to play an 'open / close menu' animation inside a view.  The first time the objects are created, it plays smooth as butter.  I can replay the animation several times and it works great.  However, after I close the view, then open it again, the animation will delay a small amount before playing.  This delay increases each time I open the

[2017-06-12 18:41] samiam2017 commented on #222
k I answered my own question for others running into this issue, I found a stray path element outside the shape layer group in the timeline (below the transform, stroke and fill properties). When I deleted it problem was solved. I recommend downloading xcode for troubleshooting was a huge help isolating the problem element.

[2017-06-12 22:23] buba447 commented on #222
Fix found here! https://github.com/airbnb/lottie-ios/pull/257

[2017-06-12 22:23] #222 closed

[2017-06-12 22:24] buba447 commented on #249
Fix found here https://github.com/airbnb/lottie-ios/pull/257

[2017-06-12 22:24] #249 closed

[2017-06-12 22:27] buba447 commented on #246
I was not able to reproduce. Can you give us more information? What was the crash? What was the console log output?

[2017-06-12 22:27] #246 closed

[2017-06-12 22:28] buba447 commented on #244
Lottie doesnt support layer effects. Your composition has a layer with an effect attatched to it.

[2017-06-12 22:28] #244 closed

[2017-06-12 22:32] #228 closed

[2017-06-12 22:33] buba447 commented on #225
Can i get a link to an after effects file that shows this behavior? @AlexDM0 @Kymer @AmirShalev

[2017-06-12 22:35] buba447 commented on #211
Which effects would you like to reproduce? @im9uri

[2017-06-12 22:35] #208 closed

[2017-06-12 22:36] #200 closed

[2017-06-12 22:36] buba447 commented on #190
Lottie doesnt currently support Text layers. This is noted in other issues.

[2017-06-12 22:36] #190 closed

[2017-06-12 22:37] #187 closed

[2017-06-13 02:32] mithyer opened #258 "resource file path not in main bundle problem!"
like title, file can not be load correct in this situation, pls fix it

[2017-06-13 06:41] AmirShalev commented on #225
@buba447 @AlexDM0 @Kymer
I explored all Lottie files and followed their working method. In the end, I solved this issue by working with Illustrator and After Effects. I Designed all my assets in Illustrator and imported into After Effects, only then I used on each illustrator layer the action "Create Shapes from Vector Layer." After that, I worked with a Null object to move all shapes layers. And

[2017-06-13 09:49] AdamMak commented on #253
Call .pause on the LOTAnimationView object.

[2017-06-13 12:31] AlexDM0 commented on #225
@buba447 Here is my file:
https://www.dropbox.com/s/5sdqkbjugcsegaz/crownstoneLogo.aep?dl=0

[2017-06-13 12:42] AmirShalev commented on #225
@AlexDM0 @buba447 @Kymer Here is the file I created and succeeded to view on an iOS device.
https://drive.google.com/file/d/0B11YO4RxuS6lRjV0eUswTjE3c1k/view?usp=sharing

[2017-06-13 20:02] buba447 commented on #258
@mithyer Can i please have a little more info and context? Im not seeing the issue over here so Im unable to fix it! Thanks!

[2017-06-13 21:28] buba447 commented on #252
Have you tried pausing the animation on viewwilldisappear?
We do this in the example app for the animated lottie logo. If you push a view controller while its playing and then go back the animation seamlessly stops and starts back.

[2017-06-13 21:28] #253 closed

[2017-06-13 21:29] buba447 commented on #251
I havent seen this! can you give me more context? @jjc235

[2017-06-13 21:30] buba447 commented on #248
Theoretically it should work with iOS7 buyt I havent fully tested it, which is why the library is set to ios8.

[2017-06-13 21:30] jjc235 commented on #251
Hey Brandon. It's now fixed but the version that was on Pods before you
left had this problem.

On Tue, Jun 13, 2017 at 2:29 PM Brandon Withrow <notifications@github.com>
wrote:

[2017-06-13 21:31] buba447 commented on #247
@ShaunShi Im happy to look into this for you!

[2017-06-13 21:46] buba447 commented on #247
Having looked into the file it seems that control points are being added to the mainlines layer on frame 62, which is causing the issue. We currently dont dependably support adding of control points.

<img width="506" alt="screen shot 2017-06-13 at 2 42 42 pm" src="https://user-images.githubusercontent.com/1163980/27106148-042b136a-5047-11e7-9442-596585463e38.png">
<img width="440" alt="screen sho

[2017-06-13 21:48] buba447 commented on #241
When you say the circle isnt round do you mean that its clipped? Or that the circle is oval in shape? I cant tell from the screenshots. It looks like the circle is slightly clipped.

We have two paths in the layer because each path can have a fill and a stroke, which can be animated individually from one another.

[2017-06-13 21:48] buba447 commented on #240
We are currently adding support for merge paths!

[2017-06-13 21:48] buba447 commented on #237
We will be adding a new release tomorrow!

[2017-06-13 21:48] #237 closed

[2017-06-13 21:49] buba447 commented on #236
We are working on it!

[2017-06-13 21:51] buba447 commented on #235
Ohh! this is a good suggestion. Will added it to future enhancement.
The cache definitely needs an upgrade to support different caching strategies. Sorry!

[2017-06-13 21:52] samiam2017 opened #260 "JSON output not matching Normal AEP output"
Hey guys,

I've been trying to troubleshoot a number of issues with the JSON output of this looping animation.

Any help would be appreciate.

best,
-S

Issues I'm running into:
1. Playback is not smooth in JSON
2. Glitches are appearing during playback in iOS emulator
3. The sweep of lines from the pie chart back to the loader is cutting out in the JSON movie.
4. JSON Pie chart not same thickness

[2017-06-13 21:52] buba447 commented on #234
Will look into this soon! Sorry for the trouble!

[2017-06-13 21:53] buba447 commented on #233
We dont currently support text rendering.

[2017-06-13 21:54] buba447 commented on #232
Hello! The layers bug should now be fixed (layers not disappearing).
We are currently working to add support for trim paths (which will knock out that triangle in the middle)

[2017-06-13 21:54] #231 closed

[2017-06-14 03:15] XanderXu commented on #252
thank you!

[2017-06-14 03:15] #252 closed

[2017-06-14 10:15] Mushrankhan opened #261 "can we achieve shadow effect ?"

[2017-06-14 15:23] tomfrew opened #262 "AE shape groups breaks on iOS"
In the AE shapes that are generated from illustrator files, when there are groups of strokes and fills then it does not displays correctly on iOS - It just renders as full rectangles. If they are taken out of their groups then they work fine but that means if you have multiple paths in a shape then they conflict.

The files play correctly on Android but just not on iOS

This is an example of a gro

[2017-06-14 16:57] samiam2017 commented on #214
I'm having the same issue animation looks smooth on the Android Emulator and Web but iOS is pixelated. Any help would be appreciated.

[2017-06-15 03:32] ShaunShi commented on #247
@buba447 I really appreciate your reply. I got my animation modified a little bit. And seems it's working correctly on the iOS simulator. Will try it out on our next App release. =P
BTW,could you please let me know is removing of path vertices supported in Lottie now?

[2017-06-15 03:37] #251 closed

[2017-06-15 03:38] jjc235 opened #263 "intrinsicContentSize == .zero first load, correct subsequently"
I assume this is because of the caching mechanism you're using.

In any event, the intrinsic size is always wrong on the first load.

[2017-06-15 08:21] rongfei3380 opened #264 "plese update the cocoapod trunk"
I want to  use the
- (nonnull instancetype)initWithContentsOfURL:(nonnull NSURL *)url;
but the method "_setImageForAsset() "   cocoapod trunk is not the latest.  can you update it ?

[2017-06-15 18:23] buba447 commented on #262
Hello! Sorry youre having trouble! Any way you can send me the after effects file so I can debug?

[2017-06-15 18:26] therealsalih commented on #262
Hi! Looks like the issue is "fill rules", which is still being worked out on iOS. I've had some success using "Explode shape layers" http://aescripts.com/explode-shape-layers/ Give it a shot and see if breaking everything out into its own layer will help you.

[2017-06-15 18:30] therealsalih commented on #260
Hi @samiam2017 Can you send the AE file so we can see how its built and troubleshoot with you? As far as the framerate, try simulating on your device. Sometimes things are a bit choppy in my simulator because i've got other things going on my machine, but then when i simulate on my device its smooth...

[2017-06-15 18:32] buba447 commented on #260
Hello! Sorry youre having troubles! I cant fully debug without loading the file up in lottie and checking out the After Effects file, but from what I can tell youre probably experiencing these issues.
1. We have some issues with trim paths offsets, mainly when the paths loop over. This can be fixed by duplicating the layer in after effects and splitting the animation across bother layers.
2. I thi

[2017-06-15 18:34] buba447 commented on #247
@ShaunShi Great! glad it worked out! We dont support it yet but we are targeting it for the next big release (2.0)

[2017-06-15 18:35] buba447 commented on #260
An example can be found here https://github.com/airbnb/lottie-ios/issues/247

[2017-06-15 18:36] #247 closed

[2017-06-15 18:44] buba447 commented on #225
Hey everyone. Seems to be a lot of issues here that arent necessarily the same issue. @AlexDM0 Your issue is with expressions. We dont currently support expressions on any platform of lottie, and we do not have any immediate plans to implement that support.
Everyone else that is seeing an issue on ios but not on android, I suspect it has to do with fill rules, or merge paths. These are two major f

[2017-06-15 18:45] buba447 commented on #224
We have issues with reversed time layers on ios right now. Support for this is coming with the next major release! Hold tight!

[2017-06-15 18:46] buba447 commented on #218
We dont support shadow glow effects currently. We will look into them after we release 2.0.

[2017-06-15 18:47] buba447 commented on #214
Have you tried on device?

[2017-06-15 18:48] buba447 commented on #217
This should now be fixed!

[2017-06-15 18:48] #217 closed

[2017-06-15 18:50] buba447 commented on #220
Its hard to say without looking at the after effects file. Can you send that?

[2017-06-15 18:50] buba447 commented on #221
Did you add the animation to the bundle as well as the json file?

[2017-06-15 18:52] buba447 commented on #261
This is a duplicate of https://github.com/airbnb/lottie-ios/issues/218
We dont currently have immediate plans to add support for this. We will look into it after the next major release.

[2017-06-15 18:52] #261 closed

[2017-06-15 18:53] buba447 commented on #206
We currently offer partial support for this through the `- (void)addSubview:(nonnull LOTView *)view
      toLayerNamed:(nonnull NSString *)layer;` function. Currently the layer added is only masked by the after effects layer specified, but we are working to add motion suppport as well.

[2017-06-15 18:54] #198 closed

[2017-06-15 19:39] AlexDM0 commented on #225
Hi, thanks for the investigation! I tried it before without expressions but with moving masks. The result was the same. I'll revert my AE file to test it again and report back.

Cheers

[2017-06-16 06:02] pixeldock commented on #236
+1

[2017-06-16 08:27] Alex1989Wang opened #266 "- (void)_callCompletionIfNecessary in source file named: LOTAnimationView.m"
`- (void)_callCompletionIfNecessary {
  if (self.completionBlock && hasFullyInitialized_) {
    self.completionBlock(_animationState.animatedProgress == 1);
    self.completionBlock = nil;
  }
}`

The problem is that sometimes I get animatedProgress larger than 1.0, which means the animation itself successfully finishes.

So, a better but not perfect version of the should probably be: self.complet

[2017-06-16 14:26] Mushrankhan commented on #261
Ok. Thanks for immediate reply. We are waiting for this.

[2017-06-16 15:58] samiam2017 commented on #260
Thanks for the feedback guys. Here is the ae file.

[Loader_TestShare.zip](https://github.com/airbnb/lottie-ios/files/1081300/Loader_TestShare.zip)

[2017-06-16 16:52] therealsalih commented on #260
Hi @samiam2017 I've taken a look at your file, heres a few things:

Lottie iOS doesn't yet support Alpha inverted mattes. You're using those on the first 6 layers, thats why  the thickness isn't carrying over
![image](https://user-images.githubusercontent.com/5893643/27235688-9aaa9712-5276-11e7-959b-4ca7fb85706f.png)

Your comp size is 2000x2000. Thats quite a large size. Generally its suggested t

[2017-06-16 23:33] samiam2017 commented on #260
Hey guys the feedback was super helpful, thank you!

I'm still running into some issues with the refined version of the project. If you look at the screen grabs the pie chart is still having the issue of smoothly going back into the loader. Let me know if you can think of a solution.

screen grab of pie not aligning
![pie not aligning](https://user-images.githubusercontent.com/29287850/27247796-e1

[2017-06-17 08:29] zhangsn commented on #248
@buba447 Sad ಥ_ಥ。Got any plan to fully test it on iOS7?

[2017-06-19 10:14] tomfrew commented on #262
Thanks for the script @therealsalih, and thanks @buba447 for the offer to debug.

From the concepts from that script, I've been playing around and now understand what shape groupings are supported in iOS and so have been rebuilding the AE shapes and seems to be working now!

[2017-06-19 10:14] #262 closed

[2017-06-19 15:36] petemorris opened #267 "Animation circular mask not working and animation stops before complete"
Hi,

Sorry, I'm not an expert on After Effects, but I'll try to describe the issue.

The animation that works well on the web previewer at (lottiefiles.com/preview) but doesn't work in iOS.

First, the animation comes out as a square rather than a circle (mask not being applied presumably), and second the animation stops well before it's finished.

Hope that's enough information to go on. If you n

[2017-06-19 22:43] therealsalih commented on #260
I took a look at your file and this looks to be a Bodymovin issue... I'll send this issue to Hernan, the bodymovin creator. If you wouldn't mind can you make a separate ticket on the [bodymovin github page](https://github.com/bodymovin/bodymovin)?

[2017-06-19 22:47] therealsalih commented on #260
@samiam2017  I actually think i see what the issue is. You're using Offset paths, which doesn't look like its supported by Bodymovin
![image](https://user-images.githubusercontent.com/5893643/27308979-52123810-5506-11e7-9304-8eeaef1110e6.png)

If you get rid of all of the offset paths in your project and readjust the layers using scale or something else it should work

[2017-06-19 22:52] therealsalih commented on #267
Hi @petemorris Can you send us the AE file so we can see how its built?

[2017-06-19 22:55] therealsalih commented on #203
Hi @jamesmato can you send through your AEP file? It all depends on how the animation was built

[2017-06-20 00:04] samiam2017 commented on #260
@therealsalih thanks! I will test it out. Thanks again for all your help.

[2017-06-20 00:40] therealsalih commented on #262
@tomfrew Glad you could find a suitable workaround. In future versions of Lottie-iOS that has fill rules etc, you wont have to do any workarounds

[2017-06-20 02:05] riddhima commented on #249
@buba447 Thanks. When will the fix be released?

[2017-06-20 06:24] vinuremesan17 opened #268 "Lottie Animation works great in Android but not in IOS"
in IOS the colors are inverted (but still animates) need a fix for this ...do let me know ASAP

[2017-06-20 12:26] petemorris commented on #267
Hi,

Sure here you go:

https://drive.google.com/file/d/0B5CGaiDpoIMtQUtsYkk3dE54UGc/view?usp=sharing

If you have any questions about it, let me know (I don't know anything about AE but can ask our designer).

Thanks

[2017-06-20 16:53] samiam2017 commented on #260
@therealsalih I think this is a Lottie issue. Bodymovin has a slight strobing effect on the transition, but on iOS and Android using the lottie library the transition just cuts out.

Any work arounds you'd recommend would be appreciated.

[test_3d.zip](https://github.com/airbnb/lottie-ios/files/1088973/test_3d.zip)

[2017-06-20 17:08] samiam2017 commented on #214
@buba447 It does look cleaner on device. Thanks!

[2017-06-20 17:10] therealsalih commented on #260
if you trim your comp to the work area it should work
![image](https://user-images.githubusercontent.com/5893643/27346036-a58e306c-55a0-11e7-96b4-5ae1b698fb69.png)

We'll look into why thats happening even if you don't trim it

[2017-06-20 17:11] therealsalih commented on #260
Also be sure to extend the visible layers out past the last frame

![image](https://user-images.githubusercontent.com/5893643/27346079-d53c42ea-55a0-11e7-89cf-411ed15c38b6.png)

![image](https://user-images.githubusercontent.com/5893643/27346084-dae1cfd0-55a0-11e7-86d6-89e165e1bc33.png)

[2017-06-20 17:25] samiam2017 commented on #260
Mission Accomplished!!! Thanks @therealsalih !!!

[2017-06-20 17:25] #260 closed

[2017-06-20 17:54] mwhitt commented on #220
I'm having similar issue ... works in web but not on iOS ... here is after effects file.

[spinner.json.zip](https://github.com/airbnb/lottie-ios/files/1089195/spinner.json.zip)

[2017-06-20 23:10] buba447 commented on #264
Updated!!!

[2017-06-20 23:10] #264 closed

[2017-06-20 23:12] buba447 commented on #240
@samiam2017 We are hoping in the next month!

[2017-06-21 04:12] therealsalih commented on #268
@vinuremesan17 Can you send the AEP file?

[2017-06-21 04:17] bellchen commented on #235
any schedule about this? Very eager to get this function

[2017-06-21 07:11] kevinsan commented on #184
@buba447

[2017-06-21 07:12] kevinsan commented on #184
@therealsalih

[2017-06-21 08:55] jamesrdavis opened #269 "Issue with iOS Lottie file (working with android)"
I'm having issues with the iOS version of Lottie displaying our animations correctly/fully.

Android is working absolutely fine however iOS isn't. Could someone be so kind as to look at my aep to see if they can help?

[2017-06-21 09:55] Joy-Chiang commented on #233
@buba447 Are there any concrete progress? About support text layer.

[2017-06-21 15:40] pastiryna opened #270 "Incorrect size of subview added with addSubview(UIView!, toLayerNamed: String!)"
View added through the function addSubview(UIView!, toLayerNamed: String!) has incorrect size. The previous fix https://github.com/airbnb/lottie-ios/issues/198 doesn't help.

[2017-06-21 16:38] OliverWangHansen commented on #269
Have the same problem, it looks like the last part of the animation is inverted.

[2017-06-21 17:53] buba447 commented on #269
I would be happy to look into your problems!

Currently the biggest difference between Android and iOS is that iOS doesnt yet support merge paths or fill rules.

[2017-06-21 17:54] #214 closed

[2017-06-21 20:23] jamesrdavis commented on #269
Thanks so much @buba447  Here is a link to an example file that works fine with Android but not with ios https://drive.google.com/drive/folders/0B7z5yLGNWDVrMG1zN09TTlk2LTQ?usp=sharing

I look forward to your feedback.

[2017-06-22 05:45] andreyreddit opened #271 "Pointer is missing a nullability type specifier in 1.5.2 version"
After updating to 1.5.2 I see many errors like this:
Pointer is missing a nullability type specifier (_Nonnull, _Nullable, or _Null_unspecified)
Project stopped compiling.

[2017-06-22 06:14] fonkadelic opened #272 "Finished flag always false in completion handler"
The `animationFinished` flag from `-[LOTAnimationView playWithCompletion:]` is always false. The underlying problem seems to be that the animation progress is not exactly `1.0` at the end.
Note that this used to work before `v1.5.2` and was probably introduced by #259.

[2017-06-22 21:12] #235 closed

[2017-06-23 06:59] lookingstars commented on #268
I have the same problem. The animation json file works great in Android and  website https://www.lottiefiles.com/  ,but not in iOS
This is my json file:
[overlay.json.zip](https://github.com/airbnb/lottie-ios/files/1096990/overlay.json.zip)

[2017-06-23 08:43] jamesrdavis commented on #269
Hi, @buba447 have you had an opportunity to look into this?

[2017-06-23 13:07] anton-semenyuk commented on #270
Is there any other function to add image dynamically in animation?

[2017-06-23 14:11] allenwong opened #274 "Can't render AE gradient fill?"
I use gradient fill in every normal shapes, exported .json, but it looks lotties doesn't support render gradient color, it's transparent now. Anyone knows a way to fix that?
[http://imgur.com/gallery/OWJMq](url)

[2017-06-23 14:13] allenwong commented on #119
Still waiting for it !!!!

[2017-06-23 18:10] buba447 commented on #274
This is on our roadmap for future features. We are currently working on it for version 2 of the ios library. Lottie Android already supports gradient fill!
Please check the roadmap at the bottom of the main readme to track features.

[2017-06-25 22:00] yasinbor commented on #30
Is there any progress in this issue? I am also trying to add Lottie animation to video.

[2017-06-26 09:24] WZBbiao opened #276 "How to load in the cache json files (Specifically in the Document folder)"
I have a json file in the document folder and a images folder, how to load?

[2017-06-26 09:50] Panjianan opened #277 "how to use colorfilter like android?"
in Android, You can add a color filter to the whole animation, a specific layer, or specific content within a layer:

// Any class that conforms to the ColorFilter interface
final PorterDuffColorFilter colorFilter = new PorterDuffColorFilter(Color.RED, PorterDuff.Mode.LIGHTEN);

// Adding a color filter to the whole view
animationView.addColorFilter(colorFilter);

// Adding a color filter to a spe

[2017-06-26 15:29] tarekjam opened #278 "images not working in Xcode"
Actually I just tried to export simple shape with json and it worked fine
but when I try to do this with compose with couple images "png or jpeg" it seems not responding in Xcode .
what could be the issue, Thanks in advance

[2017-06-26 18:39] buba447 commented on #269
Hello @jamesrdavis Ive looked at your animaiton and it looks like you are using gradient Fill which is currently supported on Android but not yet implemented on iOS!
We are working hard to add this feature soon!

[2017-06-26 18:56] buba447 commented on #268
@lookingstars can you send an aep file?

[2017-06-27 03:20] bellchen commented on #278
talk is cheap, show your code

[2017-06-27 03:23] bellchen commented on #276
`animationWithFilePath `
this might help you

[2017-06-27 03:26] WZBbiao commented on #276
thanks,it work!

[2017-06-27 06:57] vinuremesan17 commented on #268
Yeah Sure...
Just sending you a test showing whats happening in my animation.

if you see the AE file you will see two rings animating but in the json its
like two solid circles.
I used one more shape in front of each layer and submitted my animation but
thats an easy escape and alot of extra work.

can you let me know whats the probblem with this.

On Wed, Jun 21, 2017 at 9:42 AM, therealsalih <n

[2017-06-27 07:48] WZBbiao opened #279 "version 1.5.2 can't load frame of animation"
Before version can load the file, but can't load after update version 1.5.2. files have been given:
[归档.zip](https://github.com/airbnb/lottie-ios/files/1104513/default.zip)

[2017-06-27 09:00] bellchen commented on #279
please show me your code.

[2017-06-27 09:11] WZBbiao commented on #279
this is my code! In this website based on the demo of modified.(@"data" is my JSON file)

[code]
[Example.zip](https://github.com/airbnb/lottie-ios/files/1104772/Example.zip)

[2017-06-27 09:50] bellchen commented on #279
nothing wrong in your code, but a issue in demo;
call [self.lottieLogo play]; in viewDidAppear, then will be ok;
[code]

[2017-06-27 10:11] WZBbiao commented on #279
All right! Hope that corrective demo, But I don't understand why this problem caused by the specific reason. because In my project,A lot of code like the demo!

[2017-06-27 10:37] bellchen commented on #279
the reason about this issue might be:
the lottieLogo view's frame is CGRectZero when call [self.lottieLogo play] in viewWillAppear;
and in viewDidAppear, lottieLogo get its correct frame;

[2017-06-27 19:27] welshm opened #280 "Version 1.5.2 broke negative animation speeds"
Previously could "undo" an animation by setting it's speed to -1 and calling play.

This no longer animates with version 1.5.2

[2017-06-27 22:54] welshm commented on #280
Inside `- (void)updateAnimationLayerWithTimeOffset:(CFTimeInterval)timeOffset` I suspect that setting the `beginTime` is incorrect.

My understanding of CAMediaTiming is that `beginTime` should still be set to `CACurrentMediaTime` to match the parent and that the `timeOffset` should be set to the specified `offset/speed`.

However, doing that fixes some issues (it will start the animation backward

[2017-06-28 11:36] xxx50236 commented on #269
Hi, @buba447  I met the same problem in ios and I put the aep file,json and the gif that  I hope to get.
[source.zip](https://github.com/airbnb/lottie-ios/files/1108503/source.zip)
Unfortunately, you can see there is some problem about the mouse when the animation is playing. By the way it works perfectly in Android, so can you help me to look into this

[2017-06-28 18:16] samiam2017 opened #284 "Masks not sequencing opacity"
Hey guys I'm trying to get these masks to sequence on and off in opacity. It works in the bodymovin demo file, but not on Android and iOS using the Lottie Library. Any advice would be appreciated.

-S

[TO_GitHub.zip](https://github.com/airbnb/lottie-ios/files/1109767/TO_GitHub.zip)

[2017-06-29 08:23] mcplectrum opened #285 "BUG: Repeating animation on e.g. button click"
Since the update from 1.5.1 to 1.5.2 repetitive calls to ```viewToAnimate.play()``` do not trigger the animation again. The animation does work on the first call, but then stops working and nothing happens. If I checkout 1.5.1 everything is fine.

[2017-06-29 12:31] welshm commented on #285
The 1.5.2 release seems very buggy overall to me. Is it possible to roll back the cocoapod release to 1.5.1? AFAIK cocoapods doesn't let you target a specific revision, only major.minor

[2017-06-29 14:42] mcplectrum commented on #285
You could use carthage instead of cocoapods: In your Cartfile you can point to a specific version / sha etc. like ``` github "airbnb/lottie-ios" "20b94330121ce4a33e1fa50897552390580933aa"```

[2017-06-29 14:49] welshm commented on #285
Appreciate the suggestion! Unfortunately, with the rest of our dependencies coming through Cocoapods, we won't be able to migrate anytime soon.

[2017-06-30 03:09] willorfang commented on #184
I encountered the same issue. It turns out that the local time space of key window layer is changed by some reason, and lottie failed to adjust the beginTime.

[2017-06-30 03:31] WZBbiao opened #287 "how to switch animation?"
I show animation in UICollectionViewCell,  Every animation is different, In order to avoid cell's recycling, I need to load animation again when the cell every time load. So I try to destroy Lottie and recreate, But It cause interface caton very much when rolling. So what should I do?

[2017-06-30 06:46] samiam2017 commented on #284
My work around has been to do away with the masks and the dashed stroke element, and just importing vector shapes and individually animate each shape layer that makes up the arrows. Another issue I was noticing was that there was this weird artifacting with the masks not sure if that was a result of the dashed stroke shape shifting out of position or if was a specific issue with the mask. An aweso

[2017-06-30 09:21] Alex1989Wang commented on #285
In fact, you can also specify a specific commit you want to use even with Cocoapods. See this link for the detailed answer: https://stackoverflow.com/questions/20936885/cocoapods-and-github-forks.

[2017-06-30 10:07] bellchen commented on #287
I think you should not destroy&recreate LottieView, cache lottieView and pause&play when your cell hidden&show

[2017-06-30 10:32] WZBbiao commented on #287
Thanks, I will try it.

[2017-06-30 11:57] Alex1989Wang opened #288 "frame lost during animation"
Dear Lottie Coder,

I am a developer from China. I am so grateful that Lottie was created. While using this wonderful framework, I found that when the difference between the inFrame and outFrame of a LOTLayer is small (in my JSON file, the difference is about one frame) the contents of the layer never shows.

We are designing a "fireworks" animation effect. I downloaded your Github Lottie project.

[2017-06-30 12:14] mcplectrum commented on #285
good to know @Alex1989Wang . I was not sure if you can do that with cocoapods and was not directly able to find something related 👍

[2017-06-30 13:38] jamesrdavis commented on #269
Thanks, @buba447 but I'm having issues with files that don't have gradients. It works with Android however not iOS.

I'd really apprciate it if you could looking into the file here that isn't using a gradient but still isn't displaying correctly:
https://drive.google.com/file/d/0B7z5yLGNWDVrcnR3b1VJOGJvLTg/view?usp=sharing

Thanks, in advance - James

[2017-06-30 15:01] serhii-londar commented on #233
@buba447 How about images? Is it possible to insert custom image to animation?

[2017-06-30 17:01] buba447 commented on #269
@jamesrdavis Ive looked at your file and the issue is with precomps. Theres a bug (that i just discovered!) where precomps dont support time offset. So the keyframes and timeline need to match up with the parent comp. This is a silly bug, ill have to look into fixing it. For now you can just bring the layers out of the precomp. This will make your comp a little messy but it iwll work.

[2017-06-30 17:09] ahmedgharib opened #289 "Using Asset Catalogs with Lottie"
Is this possible? I don't see any documentation on it anywhere. Right now we are scaling 3x assets, but then we miss out on app thinning.

[2017-06-30 17:12] buba447 commented on #269
@xxx50236  Hello! Sorry for your troubles. I have taken a look at your file and found the problem.
Lottie has a bug rendering line caps when the path line has a mix of tangents and non tangent vertices. I will work to fix this but in the meantime you can select the mouth and add tangents to both ends of it. You will have to do this for every keyframe.

<img width="516" alt="screen shot 2017-06-30

[2017-06-30 17:12] #269 closed

[2017-06-30 17:30] buba447 opened #290 "READ BEFORE POSTING A message from the Lottie team"
Hello!
Thank you for using Lottie!
If you are here you are probably experiencing some issues with Lottie! Really sorry to hear that! We are still actively working on Lottie and we want to make it the best library we can! Please feel free to post issue, we need your input to make this thing better!

Before you post, however, please take a look at this list of commonly known issues we are working on

[2017-06-30 17:31] buba447 commented on #289
@ahmedgharib Lottie is a vector rendering solution, so there shouldnt be a need for assets?

[2017-06-30 17:33] ahmedgharib commented on #289
We have some compositions that import pngs so we can add dropshadows, but I get that's not the intended purpose

-Ahmed

Get Outlook<https://aka.ms/qtex0l> for iOS
________________________________
From: Brandon Withrow <notifications@github.com>
Sent: Friday, June 30, 2017 10:31:54 AM
To: airbnb/lottie-ios
Cc: Ahmed Gharib; Mention
Subject: Re: [airbnb/lottie-ios] Using Asset Catalogs with Lottie

[2017-06-30 17:36] buba447 commented on #288
Hello! Yes this is an issue we are tracking.
The problem comes froma small inconsistency with how CAAnimation syncs animations. If animations arent grouped together they are not guaranteed to sync exactly and can be off by a little bit. Ive also been trying to debug it for a few days and i know that tweaking the values here can fix the problem but im not confident enough in it to actually merge it

[2017-06-30 17:37] buba447 commented on #287
We are working to add support for setting animation after initializing a LOTAnimationView

[2017-06-30 17:38] buba447 commented on #285
Will look into this!

[2017-07-02 07:06] wytemusic opened #291 "A lot of Swift Compiler Warnings"
I just updated to the newest version of Lottie (1.5.2) and now a lot of Swift Compiler Warnings show up when building.
<img width="1280" alt="screen shot 2017-07-02 at 09 05 46" src="https://user-images.githubusercontent.com/29824653/27767885-b7fc9252-5f05-11e7-976e-1a883d685a2d.png">
<img width="1280" alt="screen shot 2017-07-02 at 09 05 40" src="https://user-images.githubusercontent.com/29824653

[2017-07-02 07:10] wytemusic commented on #291
Please note that I not only have nullability warnings also I got Semantic Issues.

[2017-07-02 13:50] welshm commented on #48
Using a -1 animationSpeed no longer works, but looks like support is planned for 2.0

[2017-07-03 02:43] olafchou commented on #269
@buba447  how do i update lottie plugin?

[2017-07-03 07:03] batmanWeng opened #292 "UI很好集成很麻烦 CocoaPods根本用不了 更新了也不行"
[!] The dependency `QMUIKit` is not used in any concrete target.

[2017-07-03 09:24] Alex1989Wang commented on #288
The in-out animation is added to LOTLayerView, but all the other animations are added to a container layer on LOTLayerView (in fact a layer). If the frame-lose problem is due to the out of sync between the in-out CAKeyFrameAnimation and all the other grouped animations, is it possible to get ride of the container layer and put all animations in a single grouped animation?

[2017-07-04 01:44] Alex1989Wang commented on #288
Besides, may I ask when do you plan to release the 2.0.0 version? Our project is kind of in a rush right now?

[2017-07-04 03:15] lynn87 opened #293 "Can't display full animation"
- [sample project](https://github.com/lynn87/TestLottie)
- [ae file](https://github.com/lynn87/TestLottie/blob/master/car.aep)
- [json file](https://github.com/lynn87/TestLottie/blob/master/car.json)

[2017-07-04 07:07] bellchen commented on #292
maybe you are posing this issue in a wrong place, here might be what you want.[https://github.com/QMUI/QMUI_iOS/issues](https://github.com/QMUI/QMUI_iOS/issues)

英文不大好，中文再说一遍：
哥们，你应该是发错地方了。去QMUI提issue吧。

[2017-07-04 08:19] ACFancy opened #294 "When app using Memory a little higher, will influence Lottie Animation, feeling slower than before"
When app using Memory a little higher, will influence Lottie Animation, feeling slower than before:

[2017-07-04 17:20] machinefixer opened #295 "Can't play two animations in one UIView"
I have two animations load from different image bundle (with JSON file inside, of course), I want to put them in one UIView as a container view to play these animations one by one. But the weird thing is that one of the animations is broken, I finally find out that the animation initialized later would always broken while the first one plays well.  It seems the later animation initialized with the

[2017-07-04 18:18] machinefixer commented on #295
Finally! I find out workaround! Sounds stupid but it really works. I changed AE BodyMovin plugin's export settings to "use the original name of the image file when export images assets", before I export animation I just rename the image files' names with certain format like this (I have to admit that it is a time-consuming job :)), :
![2017-07-05 2 13 26](https://user-images.githubusercontent.com/

[2017-07-05 17:49] therealsalih commented on #295
@machinefixer That was the reason why Hernan added the "use original name" feature back into bodymovin. To allow for multiple animations. You're doing the right thing  👍

[2017-07-05 18:18] therealsalih commented on #293
Hi @lynn87 the car layer has a mask on it thats not being used, but for some reason Lottie is having problems with it. Thats what causing the problems for your animation. If you delete that it should work fine

![image](https://user-images.githubusercontent.com/5893643/27878523-5eabee1c-6173-11e7-90fc-4170f73b93ce.png)

[2017-07-05 18:35] martyprague opened #296 "Can't subtract paths/masks for iOS"
Hi, I can't find a way how to cut out two animated holes in a shape. I have tried masks and paths with different settings but without success. It works fine on windows and android but not on iOS.

AE project:  [Bodymovin_test.zip](https://github.com/airbnb/lottie-ios/files/1125673/Bodymovin_test.zip)

Thanks for help

[2017-07-05 20:23] buba447 commented on #296
This is currently not supported, please see issues here: https://github.com/airbnb/lottie-ios/issues/290

We are working to add support, for now the best thing you can do is add a shape that is the same as the hole but with background color on top of your shape. Its not ideal but we are working to add support!

[2017-07-05 20:23] #296 closed

[2017-07-05 20:25] #292 closed

[2017-07-06 05:18] lynn87 commented on #293
@therealsalih It work fine with your solution,Thanks.You save my day.(*^__^*) ……

[2017-07-06 05:18] #293 closed

[2017-07-06 16:30] randyho-kk commented on #214
We're seeing this also and is happening on device.  Anyone have ideas on how we can fix or work around it?

[2017-07-07 09:16] kevinsan commented on #184
I  solved this problem.
https://github.com/airbnb/lottie-ios/pull/297

[2017-07-07 09:16] kevinsan commented on #184
fixed this bug.
----
#297

[2017-07-07 14:42] blazejchwiecko commented on #268
Hey, I'm having exactly same issue. The animation looks stunning on demo file, in AfterEffects and even Android, but it doesn't seem to work on iOS, where instead of playing the whole screen it's getting white and animation is not visible. I've tried many different approaches, body movin' settings and struggled with it for a while, but can't make it work like it suppose to! He's my .aep file, .jso

[2017-07-09 13:26] xavierXing opened #300 "lottie ios download(cocoapods error)"
I had this problem when I downloaded this library on cocoapods:

[!] Error installing lottie-ios
[!] /usr/bin/git clone https://github.com/airbnb/lottie-ios.git /var/folders/z_/3s43xsg530xgwt9gsjdjffph0000gn/T/d20170709-96465-1my0xz1 --template= --single-branch --depth 1 --branch 1.5.1

Cloning into '/var/folders/z_/3s43xsg530xgwt9gsjdjffph0000gn/T/d20170709-96465-1my0xz1'...
error: RPC failed; cu

[2017-07-09 18:23] cbiancucci commented on #300
Same problem here.

[2017-07-10 06:59] blazejchwiecko opened #301 "Weird animation whitening"
Hey, I'm having weird animation glitch on iOS. The animation looks stunning on demo file, in AfterEffects and even Android, but it doesn't seem to work on iOS, where instead of playing the whole screen it's getting white and animation is not visible as it should. I've tried many different approaches, body movin' settings and struggled with it for a while, but can't make it work like it suppose to!

[2017-07-10 09:33] zhangqifan commented on #295
It's solved my problems!  Using default names (like img_0 etc.) may cause unpredictable issues. Thanks @machinefixer👍

[2017-07-10 22:17] xtreme-david-joo commented on #268
@vinuremesan17 @buba447 Hello, I'm having the same issue.  If you could share what the solution was for this, that would be much appreciated.  Thanks!

[2017-07-11 15:15] mitch104 opened #302 "Width of animation shrinks on iOS but not Android"
I have a fairly simple circular spinner animation that I am using on both iOS and Android. Android the size of the spinner remains constant throughout the animation however for iOS the width of the animation shrinks to exactly 80%. The same code and JSON are used in both cases.

This zip folder contains the JSON and an example video:
[animaiton.zip](https://github.com/airbnb/lottie-ios/files/11393

[2017-07-12 11:25] akridiy opened #303 "Animation issue"
Hello!
I faced with issue using AE CC2017.
Expected animation is in the expected.mp4 and actual in the error.mov
Also I attached report.aep
[error.zip](https://github.com/airbnb/lottie-ios/files/1141794/error.zip)

[2017-07-13 06:19] Alchemistxxd commented on #278
i have meet the same issue, all images and .json are in main bundle, but image didn't show.

        `let v = LOTAnimationView(name: "data", bundle: .main)`
        `v.frame = CGRect(x: 0, y: 0, width: 200, height: 400)`
        `v.play()`
        `v.loopAnimation = true`

[2017-07-13 07:53] dandongyan commented on #272
Did it be solved? I want to konw the solution

[2017-07-13 08:05] dandongyan commented on #118
Have you guys solved this issue? I have the same issue now

[2017-07-13 08:13] dandongyan opened #304 "The playWithCompletion block doesn't call"
Hello,  when it first run the animation, the playWithCompletion block doesn't call, how can i solve this issue?

[2017-07-13 08:21] dandongyan commented on #304
And this issue appears when i use online json data,  if i use local json data, it is ok

[2017-07-13 09:00] federicocappelli commented on #118
@dandongyan nope, the lib is still broken and apparently abandoned, we solved it with a dirty workaround setting our own timer.

[2017-07-13 09:02] federicocappelli commented on #304
same: https://github.com/airbnb/lottie-ios/issues/118

[2017-07-13 09:07] dandongyan commented on #118
@federicocappelli  all right, thank you, maybe i should also user timer

[2017-07-14 20:11] valerialombo opened #306 "Animation not rendering properly in iOS"
Hi guys, can you help me figure out why this animation is not rendering properly in iOS?
This is how it looks in AE and the JSON file in https://www.lottiefiles.com/preview

![ae](https://user-images.githubusercontent.com/25491872/28228537-f22e2548-68ac-11e7-9e87-6dfe96cbff72.gif)

and it's coming out in iOS like this:

![ios-render2](https://user-images.githubusercontent.com/25491872/28228781-e39

[2017-07-15 19:47] reallynattu commented on #306
Hi @valerialombo, I think there seems to be an issue with Scaling of the path. I played around a bit and was able to fix it. Deleted the scale keyframes and recreated them. Here is the result. https://lottiefiles.com/share/7EgilO

[2017-07-17 13:55] cmorandin opened #308 "Part of shape animation not working"
I have an animation with shapes moving. One works fine, but the other doesn't.
It's basically a dashed line moving from A to B on a straight line, very simple. I had it first as a shape with a stroke that had dashed lines as a setting and then converted into shapes as I thought that was the problem, but still this just does not show.
[mileage-calculator-city-road-ios.zip](https://github.com/airbnb

[2017-07-17 13:56] valerialombo commented on #306
thank you thank you thank you @reallynattu

[2017-07-18 00:27] jfritzbarnes opened #309 "iOS Animation Behaves Differently then Lottie Preview (web)"
I have the following Lottie animation:

[p2_intro.aep.zip](https://github.com/airbnb/lottie-ios/files/1154328/p2_intro.aep.zip)

I'm guessing that we're using a feature that isn't supported on iOS but is supported on the web. On the web this looks like the following:

![mt-20170717](https://user-images.githubusercontent.com/5162626/28295234-2c46f9b2-6b14-11e7-8a48-83c5f492eb3c.gif)

However, what

[2017-07-18 10:22] magesme commented on #262
Hi @tomfrew, can you please tell me how you rebuild the shapes in your AE-File in order to work. I guess I'm having the same Problem here. The files play correctly on Android but just not on iOS.

Thanks

[2017-07-19 20:07] kdawgwilk commented on #212
The JSON in the changed project above is exactly the same as the version uploaded but the issue creator.  I am guessing the changed file is the only the aftereffects project.

[2017-07-20 12:52] Nikita2k opened #310 "Part of the frames are not displayed"
Hi! I'm testing on **iOS10** with Lottie version 1.5.2 (installed with Carthage).

Animation in previewer works as expected, but when it comes to iOS frames after the "phone" are not displayed, but I can just see empty screen.
https://www.lottiefiles.com/share/2U5Nwn

Json file is attached:
[loading animation_Jul20.json.zip](https://github.com/airbnb/lottie-ios/files/1162304/loading.animation_Jul2

[2017-07-21 03:53] xxx50236 opened #312 "Animation only perform once when setting loopAnimation to true in ios"
Hi, I want to add a loading animation in my app and I met some problem. The animation that I want is:
![hopegif](https://user-images.githubusercontent.com/13476581/28448340-eb60b3cc-6e09-11e7-988e-083535049488.gif)
But I found that the animation only play once in my app, the code is:
<img width="727" alt="screen shot 2017-07-21 at 11 46 41 am" src="https://user-images.githubusercontent.com/1347658

[2017-07-21 09:24] cmorandin commented on #308
Developer found the problem, it was one of the settings. All showing now.

[2017-07-21 09:24] #308 closed

[2017-07-22 01:41] michaelgum opened #313 "Multiple Alpha Mattes Not Working"
I have an After Effects file that has three sets of layers that use an Alpha Matte. All layers inside of the pre-comps all shape layers.
<img width="993" alt="sm_logo_aefile" src="https://user-images.githubusercontent.com/29632314/28487307-6d3af828-6e53-11e7-9c21-3ecfb64bc4d8.png">

It plays back correctly on lottiefiles.com, but in iOS it seems to be using a single Alpha Matte for everything belo

[2017-07-24 13:46] dddppp opened #314 "Set animation progress to specific value"
I would like to **play** an **animation** from a **specific progress value** (e.g. 0.5) to another (e.g. 0.3).

However whenever I try to set the "**animationProgress**" variable it does not seem to have effect.

I checked on the source code and:

- there is no callback for each progress so I can't set pause when I reach the desired level
- animationProgress is a computed variable so I can't use K

[2017-07-24 16:56] #306 closed

[2017-07-24 16:57] buba447 commented on #314
This is a feature that we are currently working on! Should be available in the next release, version 2.0!

[2017-07-24 17:09] michaelgum commented on #313
I was able to rearrange how my AE file works and it now works correctly. Also, the issue with the center of the 'a' had to do with a Merge Paths that I didn't realize was on the shape layer.

[2017-07-24 17:09] #313 closed

[2017-07-24 17:31] michaelgum commented on #214
We are having the same issue. While it does look cleaner on device than it does in the XCode simulator, it still has some jagged edges / looks pixelated.

[2017-07-24 17:34] rob-keepsafe commented on #285
Seeing this same issue; tried resetting via `animation.animationProgress = 0` but doesn't help

The only difference I'm seeing from the example app's lottie logo example is that I'm removing the view from the superview and adding it again each time. If I instead hide/unhide the view, it works fine and will reset properly

[2017-07-24 21:35] michaelgum commented on #310
@Nikita2k Can you upload the AE file?

[2017-07-25 00:12] WasabiMonster commented on #236
Is there a way to access a layer by name in Swift in order to manipulate properties such as color directly on the CALayer?

[2017-07-25 03:45] jlfuller commented on #310
@michaelgum I just tried uploading, but received an error that github doesn't support AE files. Can you provide an email I could send it to?

[2017-07-25 03:46] jlfuller commented on #310
[iOS loading.aep.zip](https://github.com/airbnb/lottie-ios/files/1171904/iOS.loading.aep.zip)

@michaelgum please see this AE file

[2017-07-25 06:48] adxiaoquan32 commented on #274
same issue for me!

[2017-07-25 07:16] adxiaoquan32 commented on #290
looking forward to the version 2.0！U guys make an easier way for coding Lottie team. appreciate it!

[2017-07-25 13:32] michaelgum commented on #310
It looks like it is because your precomps do not start at 0. It is a known issue that all precomps start playing at 0; offsetting of precomps doesn't currently work.
You can offset the animation inside of the precomp to fix the issue. Please see the attached AE file.

Is this closer to how it is supposed to look?
https://www.lottiefiles.com/share/sNaN8H

[iOS loading - 02.aep.zip](https://github.c

[2017-07-25 16:14] bajabob opened #315 "Animation Works on Android and Web, Renders Incorrectly on iOS"
Here is the end result on Android (thank you team for helping us with the Android issues! https://github.com/airbnb/lottie-android/issues/391) . Two separate animations, one used as a background and one as the foreground logo.

![lottie-android](https://user-images.githubusercontent.com/273841/28582128-ef3d6468-7129-11e7-8448-55cc50d9158c.gif)

However on iOS this is what we are seeing in the Lott

[2017-07-25 17:46] buba447 commented on #274
@adxiaoquan32 Please read my response above.

[2017-07-25 17:52] buba447 commented on #315
Please read here! https://github.com/airbnb/lottie-ios/issues/290

[2017-07-25 17:52] buba447 commented on #314
Please read here https://github.com/airbnb/lottie-ios/issues/290

[2017-07-25 17:53] buba447 commented on #310
Please see here
https://github.com/airbnb/lottie-ios/issues/290

[2017-07-25 18:39] ericawong opened #317 "Animating Stroke dash doesn't work"
Hi,

I'm trying to create a simple loading spinner by animating the stroke dash on a circle but it doesn't seem to work on ios.

Thanks,
Erica
[data.json.zip](https://github.com/airbnb/lottie-ios/files/1174402/data.json.zip)
[ios-animation.aep.zip](https://github.com/airbnb/lottie-ios/files/1174403/ios-animation.aep.zip)

[2017-07-25 18:55] michaelgum commented on #317
It looks like you are using a mask on a solid and the stroke effect. You should use a shape layer and trim paths.

[2017-07-25 19:18] michaelgum commented on #317
@ericawong Attached is an example using Trim Paths instead of Dashes.

https://www.lottiefiles.com/share/XT9NYJ

[Spinner.zip](https://github.com/airbnb/lottie-ios/files/1174518/Spinner.zip)

[2017-07-25 20:24] SoniyaHadkar commented on #135
We have similar issue with the latest code base. We are not using cocoapods or carthage in the project.
We tried to create FAT binary by building the source code with Device and Simulator and using Lipo, that does not work. (as I guess for simulator we need i386 and x86_64 to be exported.)

Any thoughts?

[2017-07-26 01:32] jlfuller commented on #310
@michaelgum @buba447 Yes this works, thanks for the fix!

[2017-07-26 03:09] capecrawler opened #318 "Image transformation/rotation"
Hi,

I am trying to make an on-boarding screen with transitions using images when pages are swiped. Animation works fine on android but not on iOS. For example rotating an image while it moves, it supposed to look like a wheel. Right now, it moves but it doesn't rotate. I am not sure if these animations are related to what the current version doesn't supports.

Here is the AEP file that I used.
[l

[2017-07-26 06:07] panmingyang2009 commented on #288
I'm facing with the same problem. In my case, the interval of in out animation is 2.

My in out animation is normal if animation materials are dragged into project.
However, if materials are downloaded to document in runtime, the animation goes wrong.

When the error occur, the animation lose some frames regularly. Sometimes 1/4 frames of each animation were lost, sometimes 3/4, sometimes all of t

[2017-07-26 09:20] dddppp commented on #314
Excellent, thank you! Do you know when the next release will be?

[2017-07-26 13:35] kopacabana opened #319 "Lottie to OpenGL"
Hello,

Thanks for Lottie. Very nice animation tool.
Sorry for my awful english :)

I want to use Lottie in an OpenGL context. I try to make a screenshot of LOTAnimationView but there is just one shape in my screenshot.
If I make a screenshot with drawHierarchy, all my shapes is OK but it's very slow (framerate change from 60fps to 25fps).

Is it possible to add a public **property** or **function

[2017-07-26 17:46] michaelgum opened #320 "Pixelated Edges in App"
We are having an issue of pixelated edges in iOS.
All layers in the AE file are shape layers and an Alpha Track Matte.

This is what it is supposed to look like (Set a background color bc it ends in white):
https://www.lottiefiles.com/share/XbozFI

This is what it looks like in the app (Crop from on-device screenshot; not scaled):
![image uploaded from ios 20](https://user-images.githubusercontent

[2017-07-26 18:51] buba447 commented on #320
Have you tried running on device?
Sometimes the simulator pixelates lottie animations.
Were working on a fix!

[2017-07-26 19:01] michaelgum commented on #320
Yes, that is a screen shot from an iPhone 7, not the simulator.

[2017-07-26 20:03] michaelgum commented on #320
Is this something that Lottie 2.0 might fix? If so, is there a way to get early access?

[2017-07-27 10:11] AlexCai21 opened #321 "Transition bug"
Hi, @buba447 , I run demo and touch Animated Transitions Demo, when I touch "Show Transition A ", the present ViewController don't be presented. The B ViewController Shows and then disappear automatically. So I can't present a new ViewController by transition.The release is 1.5.2, iOS 10.3.2.
When I use 1.0 release , it's ok.
Thanks.

[2017-07-27 14:31] groenroos opened #322 "Skew on Shape Layer Group transformations"
It appears that the Skew effects on my Shape Layer Group transformations are not reflected on Lottie. I wonder if this is a bug with my aep/Lottie implementation, since the readme does insinuate these being available ("Group Transforms (Anchor point, position, scale etc)"), and the list of unsupported AE features does not list Skew. bodymovin itself does seem to support it just fine.

[2017-07-28 04:04] lookingstars commented on #268
@buba447  Can you help me
[2.aep.zip](https://github.com/airbnb/lottie-ios/files/1181976/2.aep.zip)
I download json file and use this way to load it, but it does't work in iOS
[code]
THX

[2017-07-28 06:35] jack-wz commented on #268
你好，我来自中国，不会用英语交流。
看了下你的文件，可能导致情况
文件中有位图，需要重新链接位图文件。

________________________________
发件人: ljz <notifications@github.com>
发送时间: 2017年7月28日 4:04
收件人: airbnb/lottie-ios
抄送: Subscribed
主题: Re: [airbnb/lottie-ios] Lottie Animation works great in Android but not in IOS (#268)

@buba447<https://github.com/buba447> Can you help me
2.aep.zip<https://github.com/airbnb/lottie-ios/files/1181976/2.aep.zip>
I

[2017-07-28 06:36] JohnWong commented on #268
@lookingstars I think your problem is not about this issue. The path seems to be a path in you mac. It may be accessed in simulator but not in iPhone. Please try `[NSData dataWithContentsOfURL:url]` and see if data is loaded.

[2017-07-28 06:39] JohnWong commented on #268
@lookingstars  I translate the reply from @jack-wz for you.

Hi, I'm from China, and can not communicate in English.
I have checked your file. Your file contains bitmap and this may be the reason. You may need to link the bitmap files again.

[2017-07-28 06:45] lookingstars commented on #268
@JohnWong Should I have to load the local json file by this way?
[code]
Lottie-ios: tag 1.5.1 seems doesn't support bitmap  which is link by json file ?

[2017-07-28 06:55] JohnWong commented on #268
@lookingstars If you want to use NSURL and you just put the json file into main bundle, the code may be `[[[NSBundle mainBundle] bundleURL] URLByAppendingPathComponent:@"xxx.json"]`

[2017-07-28 07:03] lookingstars commented on #268
@JohnWong
Got it.
If I want to user local json file I'd better user` lottie-ios tag 1.5.2`, and use it like this
`let animationV = LOTAnimationView(filePath: mainPath)`.
THX!

[2017-07-28 07:37] javierHolvi commented on #105
How is the status here for supporting polygons @therealsalih ?

[2017-07-28 23:30] sinzen opened #323 "Rotation y lottie"
Hi, what's the Best way to do rotation in after effect to export on android project? Thanks

[2017-07-29 07:58] sinzen commented on #323
And also on ios project
Thanks for your helping..

[2017-07-30 06:03] mkaa00x opened #324 "Is there a timeline for Lottie v2 for iOS?"
I've seen that the android v2 has been released. My friend and myself are working on an app and the splash animation that I created works on his device (android) but fails to work on mine (which I presume is because mine isn't on Lottie v2 or perhaps because I'm developing on the iOS 11 developer beta). What's essentially happening is that the letters just pop up in intervals without any animation

[2017-07-31 16:11] buba447 commented on #324
Hello! Thank you for your message!
Yes the problem you are having is due to a missing feature on ios that is
available on android. We are currently hard at work on Lottie v2 on ios. Im
happy to inform you that it should be out in yhe next week. Stay tuned!

On Saturday, July 29, 2017, Mohammad Al-Ahdal <notifications@github.com>
wrote: